@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300);
/* FUNCTIONS
============================================= */
/* MIXINS
============================================= */
html, body {
  height: 100%; }

#wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%; }
  #wrapper #container {
    padding: 0 0 30px 0; }

#footer {
  height: 30px; }

/* MIXINS
============================================= */
html, body {
  height: 100%; }

#wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%; }
  #wrapper #container {
    padding: 0 0 30px 0; }

#footer {
  height: 30px; }

/* FUNCTIONS
============================================= */
/*  VARIABLES
============================================= */
/* CLEARFIX
============================================= */
.homepageHeader {
  position: relative;
  top: 50%;
  text-align: center;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }

.servicesHeader {
  background: url("../img/services/service-stock1.jpg") no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

.jumbotron .jumboOverlay {
  background: rgba(54, 54, 54, 0.6);
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  z-index: 3; }

.servicesHeader .jumboOverlay {
  background: rgba(25, 25, 25, 0.6);
  height: 500px;
  width: 100vw;
  position: relative;
  top: 0;
  z-index: 3; }

pre {
  display: block;
  padding: 9.5px;
  margin: 0 0 10px 20px;
  color: purple;
  letter-spacing: 1px;
  font-size: 13px !important;
  position: relative;
  text-decoration: none;
  top: 15px;
  font-family: Sans-serif !important; }

.left {
  float: left; }

.right {
  float: right; }

.inner-header-blocks {
  position: relative;
  top: 60px; }

.card-descr > ul, #mainbox {
  padding: 20px;
  letter-spacing: 1px;
  line-height: 30px; }

.card-descr > ul, #mainbox {
  text-align: left; }

pre, .card-descr > ul, #mainbox, .card-descr > h2, .header-blocks, .homepageHeader p, .homepageHeader h1, .inner-header-blocks h2,
.inner-header-blocks p, .tiny-underline,
.content-blocks > p,
.footer-blocks > p, .lower-links li a {
  font-family: 'Open Sans', sans-serif;
  font-weight: 100; }

#mainbox .card h2 {
  font-family: 'Montserrat';
  font-weight: 400; }

.card-descr > ul, #mainbox, .tiny-underline,
.content-blocks > p,
.footer-blocks > p {
  font-size: 22px; }

.card-descr > h2 {
  padding: 0 0 0 20px;
  font-size: 29px;
  font-weight: 600; }

.left {
  width: 300px;
  background: orange;
  height: 400px; }

.gray-bg {
  padding: 30px;
  background: #fff; }

.right {
  width: 300px;
  background: seagreen;
  height: 400px; }

.down-button {
  border-radius: 50%;
  border: 2px solid #fff;
  height: 70px;
  width: 70px;
  position: absolute;
  top: 90%;
  cursor: pointer;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

.minimizedImg-left {
  height: 300px !important;
  position: relative;
  top: 20px;
  left: 16px; }

.minimizedImg-right {
  height: 300px !important;
  position: relative;
  top: 20px;
  right: 16px; }

.header-blocks > h1 {
  font-size: 8em !important;
  font-weight: 600;
  letter-spacing: 2px; }

.purp-btn {
  color: #422544;
  border: 2px solid #422544 !important; }

.white-btn {
  color: #fff;
  border: 2px solid #fff !important; }

.red-btn {
  color: #E05350;
  border: 2px solid #E05350 !important; }

.green-btn {
  color: #5DCF5B;
  border: 2px solid #5DCF5B !important; }

.blue-btn {
  color: #526EF2;
  border: 2px solid #526EF2 !important; }

.content-blocks {
  padding: 78px 0;
  width: 100%;
  margin: 0 auto !important;
  text-align: center;
  height: 450px;
  background: transparent; }

.header-blocks {
  background: transparent;
  margin: auto;
  text-align: center; }

.footer-blocks {
  padding: 30px 0;
  background: transparent; }

.content-blocks > h2, .footer-blocks > h2 {
  font-family: Montserrat;
  font-size: 35px;
  font-weight: 100;
  letter-spacing: 3px;
  line-height: 35px; }

.header-blocks > h2 {
  font-size: 45px;
  font-weight: 100;
  letter-spacing: 3px;
  line-height: 75px; }

@media only screen and (max-width: 40em) {
  .homepageHeader h1 {
    line-height: 65px;
    font-size: 35px; }

  .content-blocks {
    padding: 10px 0; }

  .tiny-underline-left-purp, .tiny-underline-left-grn {
    margin: 0 auto !important; }

  .card-descr > h2 {
    padding: 2em;
    padding-bottom: 10px; }

  .card-descr > ul, #mainbox {
    letter-spacing: 2px;
    line-height: 26px;
    font-weight: 200;
    text-align: center; }

  .card-descr > ul, #mainbox, .tiny-underline,
  .content-blocks > p,
  .footer-blocks > p {
    font-size: 16px; }

  .content-blocks > p,
  .footer-blocks > p {
    padding: 10px;
    letter-spacing: 1px;
    line-height: 30px;
    font-family: Open Sans;
    font-size: 17px;
    text-align: center; }

  .header-blocks > h2, .content-blocks > h2, .footer-blocks > h2 {
    font-size: 25px;
    letter-spacing: 2px;
    line-height: 30px;
    font-weight: 200;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s; }

  .header-blocks > h1 {
    font-size: 50px !important;
    margin-top: 120px;
    -webkit-transition: 0.8s;
    -moz-transition: 0.8s;
    -ms-transition: 0.8s;
    -o-transition: 0.8s;
    transition: 0.8s; } }
.footer-social {
  margin-top: 0;
  padding: 0; }

.footer-links li {
  list-style-type: none; }

.brand .valtiraTxt, .homepageHeader h1, .purp-btn, .green-btn, .white-btn, .blue-btn, .red-btn, .footer-blocks > h3, .content-blocks > h2, .footer-blocks > h2, .header-blocks > h1 {
  text-transform: uppercase; }

.grn-underline, .red-underline, .blu-underline, .prp-underline, .wht-underline, .tiny-underline {
  width: 75px;
  height: 2px;
  margin: 0 auto;
  margin-top: 20px; }

.tiny-underline-left-purp, .tiny-underline-left-grn {
  width: 75px;
  height: 2px;
  /* text-align: left; */
  margin: 0;
  margin: 20px 0 0 20px; }

.wht-underline {
  background: #fff; }

.grn-underline, .tiny-underline-left-grn {
  background: #5DCF5B; }

.blu-underline {
  background: #526EF2; }

.red-underline {
  background: #E05350; }

.prp-underline, .tiny-underline-left-purp {
  background: #422544; }

.purp-btn, .green-btn, .white-btn, .blue-btn, .red-btn {
  padding-top: 12px !important;
  curser: pointer;
  font-size: 14px;
  width: 200px;
  height: 50px;
  margin: 5px 0;
  text-align: center;
  display: block;
  -webkit-box-shadow: 2px 9px 5px -6px rgba(0, 0, 0, 0.58);
  -moz-box-shadow: 2px 9px 5px -6px rgba(0, 0, 0, 0.58);
  box-shadow: 2px 9px 5px -6px rgba(0, 0, 0, 0.58); }

.dynamic-containers, .breakers {
  width: 100%;
  height: 450px;
  position: relative;
  background: transparent; }

.threejs-container {
  width: 100%;
  height: 560px;
  position: relative;
  background: #5DCF5B; }

/* BURGER ANIMATION
============================================= */
.c-hamburger {
  position: fixed;
  overflow: hidden;
  margin: 0;
  z-index: 9;
  padding: 0;
  right: 50px;
  top: 0;
  width: 60px;
  height: 56px;
  font-size: 0;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  border: none;
  cursor: pointer;
  transition: background 0.3s; }

@media screen and (max-width: 650px) {
  .c-hamburger {
    right: 0; } }
.c-hamburger:focus {
  outline: none; }

.c-hamburger span {
  display: block;
  position: absolute;
  top: 24px;
  left: 18px;
  right: 18px;
  height: 2px;
  background: white; }

.c-hamburger span::before,
.c-hamburger span::after {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #fff;
  content: ""; }

.c-hamburger span::before {
  top: -10px; }

.c-hamburger span::after {
  bottom: -10px; }

.c-hamburger--htx {
  z-index: 9999999;
  background-color: transparent; }

.c-hamburger--htx span {
  transition: background 0s 0.3s; }

.c-hamburger--htx span::before,
.c-hamburger--htx span::after {
  transition-duration: 0.3s, 0.3s;
  transition-delay: 0.3s, 0s; }

.c-hamburger--htx span::before {
  transition-property: top, transform; }

.c-hamburger--htx span::after {
  transition-property: bottom, transform; }

/* active state, i.e. menu open */
.c-hamburger--htx.is-active {
  background-color: #6E3772;
  opacity: 0.95; }

.c-hamburger--htx.is-active span {
  background: none; }

.c-hamburger--htx.is-active span::before {
  top: 0;
  transform: rotate(45deg); }

.c-hamburger--htx.is-active span::after {
  bottom: 0;
  transform: rotate(-45deg); }

.c-hamburger--htx.is-active span::before,
.c-hamburger--htx.is-active span::after {
  transition-delay: 0s, 0.3s; }

/* ============================================================
  SECTIONS parallax
============================================================ */
div.breakers.cloud-based {
  background-position: 100% 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover; }

/* ============================================================
  VIDEO
============================================================ */
/* MIXINS
============================================= */
html, body {
  height: 100%; }

#wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%; }
  #wrapper #container {
    padding: 0 0 30px 0; }

#footer {
  height: 30px; }

/* FUNCTIONS
============================================= */
/*  VARIABLES
============================================= */
/* CLEARFIX
============================================= */
.homepageHeader {
  position: relative;
  top: 50%;
  text-align: center;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }

.servicesHeader {
  background: url("../img/services/service-stock1.jpg") no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

.jumbotron .jumboOverlay {
  background: rgba(54, 54, 54, 0.6);
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  z-index: 3; }

.servicesHeader .jumboOverlay {
  background: rgba(25, 25, 25, 0.6);
  height: 500px;
  width: 100vw;
  position: relative;
  top: 0;
  z-index: 3; }

pre {
  display: block;
  padding: 9.5px;
  margin: 0 0 10px 20px;
  color: purple;
  letter-spacing: 1px;
  font-size: 13px !important;
  position: relative;
  text-decoration: none;
  top: 15px;
  font-family: Sans-serif !important; }

.left {
  float: left; }

.right {
  float: right; }

.inner-header-blocks {
  position: relative;
  top: 60px; }

.card-descr > ul, #mainbox {
  padding: 20px;
  letter-spacing: 1px;
  line-height: 30px; }

.card-descr > ul, #mainbox {
  text-align: left; }

pre, .card-descr > ul, #mainbox, .card-descr > h2, .header-blocks, .homepageHeader p, .homepageHeader h1, .inner-header-blocks h2,
.inner-header-blocks p, .tiny-underline,
.content-blocks > p,
.footer-blocks > p, .lower-links li a {
  font-family: 'Open Sans', sans-serif;
  font-weight: 100; }

#mainbox .card h2 {
  font-family: 'Montserrat';
  font-weight: 400; }

.card-descr > ul, #mainbox, .tiny-underline,
.content-blocks > p,
.footer-blocks > p {
  font-size: 22px; }

.card-descr > h2 {
  padding: 0 0 0 20px;
  font-size: 29px;
  font-weight: 600; }

.left {
  width: 300px;
  background: orange;
  height: 400px; }

.gray-bg {
  padding: 30px;
  background: #fff; }

.right {
  width: 300px;
  background: seagreen;
  height: 400px; }

.down-button {
  border-radius: 50%;
  border: 2px solid #fff;
  height: 70px;
  width: 70px;
  position: absolute;
  top: 90%;
  cursor: pointer;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

.minimizedImg-left {
  height: 300px !important;
  position: relative;
  top: 20px;
  left: 16px; }

.minimizedImg-right {
  height: 300px !important;
  position: relative;
  top: 20px;
  right: 16px; }

.header-blocks > h1 {
  font-size: 8em !important;
  font-weight: 600;
  letter-spacing: 2px; }

.purp-btn {
  color: #422544;
  border: 2px solid #422544 !important; }

.white-btn {
  color: #fff;
  border: 2px solid #fff !important; }

.red-btn {
  color: #E05350;
  border: 2px solid #E05350 !important; }

.green-btn {
  color: #5DCF5B;
  border: 2px solid #5DCF5B !important; }

.blue-btn {
  color: #526EF2;
  border: 2px solid #526EF2 !important; }

.content-blocks {
  padding: 78px 0;
  width: 100%;
  margin: 0 auto !important;
  text-align: center;
  height: 450px;
  background: transparent; }

.header-blocks {
  background: transparent;
  margin: auto;
  text-align: center; }

.footer-blocks {
  padding: 30px 0;
  background: transparent; }

.content-blocks > h2, .footer-blocks > h2 {
  font-family: Montserrat;
  font-size: 35px;
  font-weight: 100;
  letter-spacing: 3px;
  line-height: 35px; }

.header-blocks > h2 {
  font-size: 45px;
  font-weight: 100;
  letter-spacing: 3px;
  line-height: 75px; }

@media only screen and (max-width: 40em) {
  .homepageHeader h1 {
    line-height: 65px;
    font-size: 35px; }

  .content-blocks {
    padding: 10px 0; }

  .tiny-underline-left-purp, .tiny-underline-left-grn {
    margin: 0 auto !important; }

  .card-descr > h2 {
    padding: 2em;
    padding-bottom: 10px; }

  .card-descr > ul, #mainbox {
    letter-spacing: 2px;
    line-height: 26px;
    font-weight: 200;
    text-align: center; }

  .card-descr > ul, #mainbox, .tiny-underline,
  .content-blocks > p,
  .footer-blocks > p {
    font-size: 16px; }

  .content-blocks > p,
  .footer-blocks > p {
    padding: 10px;
    letter-spacing: 1px;
    line-height: 30px;
    font-family: Open Sans;
    font-size: 17px;
    text-align: center; }

  .header-blocks > h2, .content-blocks > h2, .footer-blocks > h2 {
    font-size: 25px;
    letter-spacing: 2px;
    line-height: 30px;
    font-weight: 200;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s; }

  .header-blocks > h1 {
    font-size: 50px !important;
    margin-top: 120px;
    -webkit-transition: 0.8s;
    -moz-transition: 0.8s;
    -ms-transition: 0.8s;
    -o-transition: 0.8s;
    transition: 0.8s; } }
.footer-social {
  margin-top: 0;
  padding: 0; }

.footer-links li {
  list-style-type: none; }

.brand .valtiraTxt, .homepageHeader h1, .purp-btn, .green-btn, .white-btn, .blue-btn, .red-btn, .footer-blocks > h3, .content-blocks > h2, .footer-blocks > h2, .header-blocks > h1 {
  text-transform: uppercase; }

.grn-underline, .red-underline, .blu-underline, .prp-underline, .wht-underline, .tiny-underline {
  width: 75px;
  height: 2px;
  margin: 0 auto;
  margin-top: 20px; }

.tiny-underline-left-purp, .tiny-underline-left-grn {
  width: 75px;
  height: 2px;
  /* text-align: left; */
  margin: 0;
  margin: 20px 0 0 20px; }

.wht-underline {
  background: #fff; }

.grn-underline, .tiny-underline-left-grn {
  background: #5DCF5B; }

.blu-underline {
  background: #526EF2; }

.red-underline {
  background: #E05350; }

.prp-underline, .tiny-underline-left-purp {
  background: #422544; }

.purp-btn, .green-btn, .white-btn, .blue-btn, .red-btn {
  padding-top: 12px !important;
  curser: pointer;
  font-size: 14px;
  width: 200px;
  height: 50px;
  margin: 5px 0;
  text-align: center;
  display: block;
  -webkit-box-shadow: 2px 9px 5px -6px rgba(0, 0, 0, 0.58);
  -moz-box-shadow: 2px 9px 5px -6px rgba(0, 0, 0, 0.58);
  box-shadow: 2px 9px 5px -6px rgba(0, 0, 0, 0.58); }

.dynamic-containers, .breakers {
  width: 100%;
  height: 450px;
  position: relative;
  background: transparent; }

.threejs-container {
  width: 100%;
  height: 560px;
  position: relative;
  background: #5DCF5B; }

/* BURGER ANIMATION
============================================= */
.c-hamburger {
  position: fixed;
  overflow: hidden;
  margin: 0;
  z-index: 9;
  padding: 0;
  right: 50px;
  top: 0;
  width: 60px;
  height: 56px;
  font-size: 0;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  border: none;
  cursor: pointer;
  transition: background 0.3s; }

@media screen and (max-width: 650px) {
  .c-hamburger {
    right: 0; } }
.c-hamburger:focus {
  outline: none; }

.c-hamburger span {
  display: block;
  position: absolute;
  top: 24px;
  left: 18px;
  right: 18px;
  height: 2px;
  background: white; }

.c-hamburger span::before,
.c-hamburger span::after {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #fff;
  content: ""; }

.c-hamburger span::before {
  top: -10px; }

.c-hamburger span::after {
  bottom: -10px; }

.c-hamburger--htx {
  z-index: 9999999;
  background-color: transparent; }

.c-hamburger--htx span {
  transition: background 0s 0.3s; }

.c-hamburger--htx span::before,
.c-hamburger--htx span::after {
  transition-duration: 0.3s, 0.3s;
  transition-delay: 0.3s, 0s; }

.c-hamburger--htx span::before {
  transition-property: top, transform; }

.c-hamburger--htx span::after {
  transition-property: bottom, transform; }

/* active state, i.e. menu open */
.c-hamburger--htx.is-active {
  background-color: #6E3772;
  opacity: 0.95; }

.c-hamburger--htx.is-active span {
  background: none; }

.c-hamburger--htx.is-active span::before {
  top: 0;
  transform: rotate(45deg); }

.c-hamburger--htx.is-active span::after {
  bottom: 0;
  transform: rotate(-45deg); }

.c-hamburger--htx.is-active span::before,
.c-hamburger--htx.is-active span::after {
  transition-delay: 0s, 0.3s; }

/* ============================================================
  SECTIONS parallax
============================================================ */
div.breakers.cloud-based {
  background-position: 100% 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover; }

/* ============================================================
  VIDEO
============================================================ */
.social-facebook {
  background-image: url("/img/facebook.svg"); }

.social-googleplus {
  background-image: url("/img/googleplus.svg"); }

.social-twitter {
  background-image: url("/img/twitter.svg"); }

.social-linkedin {
  background-image: url("/img/linkedin.svg"); }

/* CREDENTIALS
=============================================

----            ----
 ----          ----
  ----        ----
   ----      ----
    ----    ----
     ----  ----
      --------
       ------
        ----

#E05350 valtira red

#6E3772 valtira purple

#526EF2 valtira blue

#5DCF5B valtira green

#381E3A valtira link hovered

/* GLOBALS
============================================= */
header,
header h3 {
  color: white; }

main,
main h3 {
  color: #4A4A4A; }

h2 {
  font-weight: 600; }

body {
  overflow-x: hidden; }

small {
  font-size: 80%;
  position: relative;
  top: 45px;
  letter-spacing: 2px; }

/* HEADER / NESTING / INVERT COLORS
============================================= */
.brand {
  position: absolute;
  left: 0; }

nav.topNav {
  height: 30px;
  text-align: center;
  position: absolute;
  height: 56px;
  z-index: 2;
  top: 0;
  width: 100%; }
  nav.topNav ul {
    margin-right: 3em;
    z-index: 5;
    width: 780px;
    height: 56px;
    text-align: center;
    position: relative;
    top: 0;
    display: inline-block; }
    nav.topNav ul li {
      letter-spacing: 3px;
      cursor: pointer;
      padding: 15px;
      color: #fff;
      height: 56px;
      display: inline-block; }

.brand .valtiraTxt {
  position: relative;
  left: 1em;
  letter-spacing: 2px;
  color: #fff;
  font-size: 17px;
  top: 0.7em; }

@media screen and (max-width: 700px) {
  nav.topNav ul {
    width: 500px; } }
@media screen and (max-width: 700px) {
  nav.topNav ul {
    width: 400px; }

  nav.topNav ul li:not(.brand) {
    display: none; } }
/* CLASSES
============================================= */
.homepageHeader h1 {
  margin: 0;
  letter-spacing: 0.3em;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s; }

.homepageHeader p {
  margin: 1em; }

.inner-header-blocks h2,
.inner-header-blocks p {
  color: #fff; }

.header-blocks p {
  margin-top: 2em;
  font-size: 26px !important;
  letter-spacing: 3px;
  color: #fff;
  z-index: 999;
  opacity: 1; }

.tiny-underline,
.content-blocks > p,
.footer-blocks > p {
  margin-top: 1em;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s; }

.footer-blocks > h3 {
  font-size: 35px; }

.content-blocks > h2, .footer-blocks > h2 {
  font-weight: 500; }

.lower-links {
  text-align: center;
  margin-left: -4em;
  position: relative;
  top: 20px; }

.lower-links li {
  display: inline-block;
  cursor: pointer;
  padding: 10px; }

.lower-links li a {
  letter-spacing: 1px;
  text-decoration: none;
  color: #fff; }

.lower-links li a:hover {
  color: #526EF2; }

.footer-social li {
  display: inline-block; }

.footer-links a:hover {
  text-decoration: none;
  color: #381E3A;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s; }

.cloud-based {
  background: url("../img/services/breaker.png") no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

.cloud-based .content-blocks > p, .cloud-based h2 {
  color: white; }

.cloud-based h2 {
  font-size: 23px; }

.cloud-based h3 {
  font-size: 19px; }

.footer-links li a {
  color: #fff; }

.home {
  height: 100vh;
  background: url("../img/computer.png") no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

.services {
  height: 100vh;
  background: url("../img/future.jpg") no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

.social-circles {
  width: 50px;
  height: 50px;
  background: #999;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  background: url("../img/googleplus.svg") no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  cursor: pointer;
  text-align: center; }

.social-circles:hover {
  background: url("../img/roll-googleplus.svg") no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

.down-button:hover {
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  background: rgba(110, 55, 114, 0.8); }

.glyphicon-chevron-down:before {
  content: "\e114";
  position: relative;
  top: 20px;
  left: 0;
  color: #fff; }

.card-descr ul > li {
  list-style-type: none;
  padding: 5px 0 0 0; }

.card {
  background: #FCFCFC;
  width: 565px;
  box-shadow: 1px 1px 3px #888;
  min-height: 350px;
  padding: 10px;
  position: relative;
  margin: 10px;
  color: #4A4A4A;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s; }

.card a {
  text-decoration: none; }

.card-img {
  background: #fff;
  width: 530px;
  box-shadow: 1px 1px 3px #888;
  min-height: 350px;
  padding: 10px;
  margin: 10px; }

/* IDs
============================================= */
#triangle-left {
  position: absolute;
  border-top: 400px solid transparent;
  border-right: 47px solid #FCFCFC;
  /* border-bottom: 0px solid transparent; */
  left: -47px;
  z-index: 3;
  top: 0; }

#triangle-topleft {
  position: absolute;
  right: -45px;
  top: 0;
  width: 0;
  height: 0;
  border-top: 401px solid #FCFCFC;
  border-right: 45px solid transparent;
  z-index: 2; }

#footer {
  background: #422544;
  height: 410px;
  color: white; }

#mainbox {
  box-sizing: border-box;
  margin: 0 0 20px 0;
  padding: 0; }

#valtLogo {
  width: 50px;
  position: relative;
  left: 10px;
  top: 10px; }

#mainbox .card-img1 {
  background: url("../img/services/stock1.png") no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

#mainbox .card-img2 {
  background: url("../img/services/stock2.png") no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

#mainbox .card-img3 {
  background: url("../img/services/stock3.jpg") no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

/* QUERIES
============================================= */
@media only screen and (max-width: 1199px) {
  #mainbox {
    width: 100%;
    margin: 0 auto; }

  .card {
    width: 47%; } }
@media screen and (max-width: 1035px) {
  #mainbox {
    width: 100%;
    margin: 0 auto; }

  .card {
    width: 46.5%; } }
@media screen and (max-width: 645px) {
  #triangle-left, #triangle-topleft {
    display: none; }

  .minimizedImg-left,
  .minimizedImg-right {
    float: left;
    min-height: 350px;
    position: static; }

  .card {
    width: 100%;
    float: none;
    margin: auto;
    margin: 5px 0; }

  #mainbox {
    padding: 0; }

  .gray-bg {
    padding: 15px; } }
