@import url(https://fonts.googleapis.com/css?family=Open+Sans);
/* FUNCTIONS
============================================= */
/* MIXINS
============================================= */
/* line 59, ../sass/mixins/mixins.scss */
html, body {
  height: 100%;
}

/* line 62, ../sass/mixins/mixins.scss */
#wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
}
/* line 66, ../sass/mixins/mixins.scss */
#wrapper #container {
  padding: 0 0 30px 0;
}

/* line 70, ../sass/mixins/mixins.scss */
#footer {
  height: 30px;
}

/* MIXINS
============================================= */
/* line 59, ../sass/mixins/mixins.scss */
html, body {
  height: 100%;
}

/* line 62, ../sass/mixins/mixins.scss */
#wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
}
/* line 66, ../sass/mixins/mixins.scss */
#wrapper #container {
  padding: 0 0 30px 0;
}

/* line 70, ../sass/mixins/mixins.scss */
#footer {
  height: 30px;
}

/*  VARIABLES
============================================= */
/* CLEARFIX
============================================= */
/* line 25, ../sass/vars-modules/variables.scss */
.inner-header-blocks {
  position: relative;
  top: 60px;
}

/* line 30, ../sass/vars-modules/variables.scss */
.card-descr > ul, #mainbox {
  padding: 20px;
  letter-spacing: 1px;
  line-height: 30px;
}

/* line 39, ../sass/vars-modules/variables.scss */
.card-descr > ul, #mainbox {
  text-align: left;
}

/* line 43, ../sass/vars-modules/variables.scss */
.card-descr > ul, #mainbox, .card-descr > h2, .content-blocks > h2, .footer-blocks > h2 {
  font-family: Open Sans;
}

/* line 47, ../sass/vars-modules/variables.scss */
.card-descr > ul, #mainbox {
  font-size: 17px;
}

/* line 51, ../sass/vars-modules/variables.scss */
.card-descr > h2 {
  padding: 0 0 0 20px;
  font-size: 29px;
  font-weight: 600;
}

/* line 58, ../sass/vars-modules/variables.scss */
.left {
  width: 100%;
  background: orange;
  height: 400px;
}

/* line 64, ../sass/vars-modules/variables.scss */
.gray-bg {
  padding: 30px;
  background: #F1F4F9;
}

/* line 69, ../sass/vars-modules/variables.scss */
.right {
  width: 100%;
  background: seagreen;
  height: 400px;
}

/* line 75, ../sass/vars-modules/variables.scss */
.down-button {
  border-radius: 50%;
  border: 2px solid #fff;
  height: 70px;
  width: 70px;
  position: absolute;
  top: 90%;
  cursor: pointer;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/* line 88, ../sass/vars-modules/variables.scss */
.content-blocks > h2, .footer-blocks > h2 {
  font-size: 45px;
  letter-spacing: 2px;
}

/* line 94, ../sass/vars-modules/variables.scss */
.header-blocks > h2 {
  font-size: 60px;
  letter-spacing: 2px;
}

/* line 99, ../sass/vars-modules/variables.scss */
.purp-btn {
  color: #422544;
  border: 2px solid #422544 !important;
}

/* line 105, ../sass/vars-modules/variables.scss */
.white-btn {
  color: white;
  border: 2px solid white !important;
}

/* line 111, ../sass/vars-modules/variables.scss */
.red-btn {
  color: #e05350;
  border: 2px solid #e05350 !important;
}

/* line 117, ../sass/vars-modules/variables.scss */
.green-btn {
  color: #5dcf5b;
  border: 2px solid #5dcf5b !important;
}

/* line 123, ../sass/vars-modules/variables.scss */
.blue-btn {
  color: #526ef2;
  border: 2px solid #526ef2 !important;
}

/* line 129, ../sass/vars-modules/variables.scss */
.content-blocks {
  padding: 53px 0;
  width: 100%;
  margin: 0 auto !important;
  text-align: center;
  height: 450px;
  background: transparent;
}

/* line 138, ../sass/vars-modules/variables.scss */
.header-blocks {
  padding: 20em 0;
  background: transparent;
  margin: auto;
  text-align: center;
}

/* line 145, ../sass/vars-modules/variables.scss */
.footer-blocks {
  padding: 20px 0;
  background: transparent;
}

/* line 150, ../sass/vars-modules/variables.scss */
.content-blocks > h3 {
  font-size: 25px;
  font-weight: 100;
  letter-spacing: 3px;
  line-height: 35px;
}

/* line 157, ../sass/vars-modules/variables.scss */
.header-blocks > h3 {
  font-size: 45px;
  font-weight: 100;
  letter-spacing: 3px;
  line-height: 75px;
}

@media only screen and (max-width: 40em) {
  /* line 166, ../sass/vars-modules/variables.scss */
  .content-blocks {
    padding: 10px 0;
  }

  /* line 170, ../sass/vars-modules/variables.scss */
  .tiny-underline-left {
    margin: 0 auto !important;
  }

  /* line 174, ../sass/vars-modules/variables.scss */
  .card-descr > h2 {
    padding: 0;
    padding-bottom: 10px;
  }

  /* line 180, ../sass/vars-modules/variables.scss */
  .card-descr > ul, #mainbox {
    padding: 10px;
    letter-spacing: 2px;
    line-height: 26px;
    font-weight: 200;
    text-align: center;
  }

  /* line 188, ../sass/vars-modules/variables.scss */
  .card-descr > ul, #mainbox {
    font-size: 16px;
  }

  /* line 192, ../sass/vars-modules/variables.scss */
  .header-blocks > h3, .content-blocks > h3 {
    font-size: 17px;
    letter-spacing: 2px;
    line-height: 30px;
    font-weight: 200;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
  }

  /* line 200, ../sass/vars-modules/variables.scss */
  .header-blocks > h2 {
    font-size: 50px;
    margin-top: 120px;
    -webkit-transition: 0.8s;
    -moz-transition: 0.8s;
    -ms-transition: 0.8s;
    -o-transition: 0.8s;
    transition: 0.8s;
  }

  /* line 206, ../sass/vars-modules/variables.scss */
  .content-blocks > h2, .footer-blocks > h2 {
    line-height: 35px;
    font-size: 25px;
    -webkit-transition: 0.8s;
    -moz-transition: 0.8s;
    -ms-transition: 0.8s;
    -o-transition: 0.8s;
    transition: 0.8s;
  }
}
/* line 213, ../sass/vars-modules/variables.scss */
.footer-social {
  margin-top: 0;
  padding: 0;
}

/* line 218, ../sass/vars-modules/variables.scss */
.footer-links li {
  list-style-type: none;
}

/* line 222, ../sass/vars-modules/variables.scss */
.purp-btn, .green-btn, .white-btn, .blue-btn, .red-btn, .content-blocks > h2, .footer-blocks > h2, .header-blocks > h2 {
  text-transform: uppercase;
}

/* line 226, ../sass/vars-modules/variables.scss */
.grn-underline, .red-underline, .blu-underline, .prp-underline, .wht-underline, .tiny-underline {
  width: 75px;
  height: 2px;
  margin: 0 auto;
  margin-top: 20px;
}

/* line 233, ../sass/vars-modules/variables.scss */
.tiny-underline-left {
  width: 75px;
  height: 2px;
  /* text-align: left; */
  margin: 0;
  margin: 20px 0 0 20px;
}

/* line 241, ../sass/vars-modules/variables.scss */
.wht-underline {
  background: white;
}

/* line 243, ../sass/vars-modules/variables.scss */
.grn-underline {
  background: #5dcf5b;
}

/* line 245, ../sass/vars-modules/variables.scss */
.blu-underline {
  background: #526ef2;
}

/* line 247, ../sass/vars-modules/variables.scss */
.red-underline {
  background: #e05350;
}

/* line 249, ../sass/vars-modules/variables.scss */
.prp-underline, .tiny-underline-left {
  background: #422544;
}

/* line 251, ../sass/vars-modules/variables.scss */
.purp-btn, .green-btn, .white-btn, .blue-btn, .red-btn {
  padding-top: 12px !important;
  curser: pointer;
  font-size: 14px;
  width: 200px;
  height: 50px;
  margin: 5px 0;
  text-align: center;
  display: block;
  -webkit-box-shadow: 2px 9px 5px -6px rgba(0, 0, 0, 0.58);
  -moz-box-shadow: 2px 9px 5px -6px rgba(0, 0, 0, 0.58);
  box-shadow: 2px 9px 5px -6px rgba(0, 0, 0, 0.58);
}

/* line 265, ../sass/vars-modules/variables.scss */
.dynamic-containers, .breakers {
  width: 100%;
  height: 450px;
  position: relative;
  background: #e05350;
}

/* line 272, ../sass/vars-modules/variables.scss */
.threejs-container {
  width: 100%;
  height: 560px;
  position: relative;
  background: #5dcf5b;
}

/* SCROLL UP BTN
============================================= */
/* line 282, ../sass/vars-modules/variables.scss */
#cd-nav ul {
  /* mobile first */
  position: fixed;
  width: 90%;
  max-width: 400px;
  right: 5%;
  bottom: 20px;
  visibility: hidden;
  overflow: hidden;
  z-index: 1;
  transform: scale(0);
  transform-origin: 100% 100%;
  transition: transform 0.3s, visibility 0s 0.3s;
}

/* line 298, ../sass/vars-modules/variables.scss */
#cd-nav ul.is-visible {
  visibility: visible;
  transform: scale(1);
  transition: transform 0.3s, visibility 0s 0s;
}

/* line 304, ../sass/vars-modules/variables.scss */
.cd-nav-trigger {
  position: fixed;
  bottom: 20px;
  right: 5%;
  width: 44px;
  height: 44px;
  /* image replacement */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  z-index: 2;
}

/* BURGER ANIMATION
============================================= */
/* line 322, ../sass/vars-modules/variables.scss */
.c-hamburger {
  position: fixed;
  overflow: hidden;
  margin: 0;
  z-index: 9;
  padding: 0;
  right: 0;
  top: 0;
  width: 60px;
  height: 56px;
  font-size: 0;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  border: none;
  cursor: pointer;
  transition: background 0.3s;
}

/* line 341, ../sass/vars-modules/variables.scss */
.c-hamburger:focus {
  outline: none;
}

/* line 345, ../sass/vars-modules/variables.scss */
.c-hamburger span {
  display: block;
  position: absolute;
  top: 24px;
  left: 18px;
  right: 18px;
  height: 2px;
  background: white;
}

/* line 356, ../sass/vars-modules/variables.scss */
.c-hamburger span::before,
.c-hamburger span::after {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #fff;
  content: "";
}

/* line 366, ../sass/vars-modules/variables.scss */
.c-hamburger span::before {
  top: -10px;
}

/* line 370, ../sass/vars-modules/variables.scss */
.c-hamburger span::after {
  bottom: -10px;
}

/* line 374, ../sass/vars-modules/variables.scss */
.c-hamburger--htx {
  background-color: #422544;
}

/* line 378, ../sass/vars-modules/variables.scss */
.c-hamburger--htx span {
  transition: background 0s 0.3s;
}

/* line 383, ../sass/vars-modules/variables.scss */
.c-hamburger--htx span::before,
.c-hamburger--htx span::after {
  transition-duration: 0.3s, 0.3s;
  transition-delay: 0.3s, 0s;
}

/* line 388, ../sass/vars-modules/variables.scss */
.c-hamburger--htx span::before {
  transition-property: top, transform;
}

/* line 392, ../sass/vars-modules/variables.scss */
.c-hamburger--htx span::after {
  transition-property: bottom, transform;
}

/* active state, i.e. menu open */
/* line 397, ../sass/vars-modules/variables.scss */
.c-hamburger--htx.is-active {
  background-color: #5dcf5b;
}

/* line 401, ../sass/vars-modules/variables.scss */
.c-hamburger--htx.is-active span {
  background: none;
}

/* line 405, ../sass/vars-modules/variables.scss */
.c-hamburger--htx.is-active span::before {
  top: 0;
  transform: rotate(45deg);
}

/* line 410, ../sass/vars-modules/variables.scss */
.c-hamburger--htx.is-active span::after {
  bottom: 0;
  transform: rotate(-45deg);
}

/* line 416, ../sass/vars-modules/variables.scss */
.c-hamburger--htx.is-active span::before,
.c-hamburger--htx.is-active span::after {
  transition-delay: 0s, 0.3s;
}

/* ============================================================
  SECTIONS parallax
============================================================ */
/* line 425, ../sass/vars-modules/variables.scss */
div.breakers.cloud-based {
  background-position: 100% 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

/* ============================================================
  SHOW hidden BTN
============================================================ */
/* line 436, ../sass/vars-modules/variables.scss */
#cd-nav ul {
  /* mobile first */
  position: fixed;
  width: 90%;
  max-width: 400px;
  right: 5%;
  bottom: 20px;
  visibility: hidden;
  overflow: hidden;
  z-index: 1;
  transform: scale(0);
  transform-origin: 100% 100%;
  transition: transform 0.3s, visibility 0s 0.3s;
}

/* line 452, ../sass/vars-modules/variables.scss */
#cd-nav ul.is-visible {
  visibility: visible;
  transform: scale(1);
  transition: transform 0.3s, visibility 0s 0s;
}

/* line 458, ../sass/vars-modules/variables.scss */
.cd-nav-trigger {
  position: fixed;
  bottom: 20px;
  right: 5%;
  width: 44px;
  height: 44px;
  /* image replacement */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  z-index: 2;
}

@media only screen and (min-width: 1170px) {
  /* line 473, ../sass/vars-modules/variables.scss */
  #cd-nav ul {
    /* the navigation moves to the top */
    position: absolute;
    width: auto;
    max-width: none;
    bottom: auto;
    top: 36px;
    visibility: visible;
    transform: scale(1);
    transition: all 0s;
  }

  /* line 485, ../sass/vars-modules/variables.scss */
  #cd-nav.is-fixed ul {
    position: fixed;
    width: 90%;
    max-width: 400px;
    bottom: 20px;
    top: auto;
    visibility: hidden;
    transform: scale(0);
  }
}
/* MIXINS
============================================= */
/* line 59, ../sass/mixins/mixins.scss */
html, body {
  height: 100%;
}

/* line 62, ../sass/mixins/mixins.scss */
#wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
}
/* line 66, ../sass/mixins/mixins.scss */
#wrapper #container {
  padding: 0 0 30px 0;
}

/* line 70, ../sass/mixins/mixins.scss */
#footer {
  height: 30px;
}

/*  VARIABLES
============================================= */
/* CLEARFIX
============================================= */
/* line 25, ../sass/vars-modules/variables.scss */
.inner-header-blocks {
  position: relative;
  top: 60px;
}

/* line 30, ../sass/vars-modules/variables.scss */
.card-descr > ul, #mainbox {
  padding: 20px;
  letter-spacing: 1px;
  line-height: 30px;
}

/* line 39, ../sass/vars-modules/variables.scss */
.card-descr > ul, #mainbox {
  text-align: left;
}

/* line 43, ../sass/vars-modules/variables.scss */
.card-descr > ul, #mainbox, .card-descr > h2, .content-blocks > h2, .footer-blocks > h2 {
  font-family: Open Sans;
}

/* line 47, ../sass/vars-modules/variables.scss */
.card-descr > ul, #mainbox {
  font-size: 17px;
}

/* line 51, ../sass/vars-modules/variables.scss */
.card-descr > h2 {
  padding: 0 0 0 20px;
  font-size: 29px;
  font-weight: 600;
}

/* line 58, ../sass/vars-modules/variables.scss */
.left {
  width: 100%;
  background: orange;
  height: 400px;
}

/* line 64, ../sass/vars-modules/variables.scss */
.gray-bg {
  padding: 30px;
  background: #F1F4F9;
}

/* line 69, ../sass/vars-modules/variables.scss */
.right {
  width: 100%;
  background: seagreen;
  height: 400px;
}

/* line 75, ../sass/vars-modules/variables.scss */
.down-button {
  border-radius: 50%;
  border: 2px solid #fff;
  height: 70px;
  width: 70px;
  position: absolute;
  top: 90%;
  cursor: pointer;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/* line 88, ../sass/vars-modules/variables.scss */
.content-blocks > h2, .footer-blocks > h2 {
  font-size: 45px;
  letter-spacing: 2px;
}

/* line 94, ../sass/vars-modules/variables.scss */
.header-blocks > h2 {
  font-size: 60px;
  letter-spacing: 2px;
}

/* line 99, ../sass/vars-modules/variables.scss */
.purp-btn {
  color: #422544;
  border: 2px solid #422544 !important;
}

/* line 105, ../sass/vars-modules/variables.scss */
.white-btn {
  color: white;
  border: 2px solid white !important;
}

/* line 111, ../sass/vars-modules/variables.scss */
.red-btn {
  color: #e05350;
  border: 2px solid #e05350 !important;
}

/* line 117, ../sass/vars-modules/variables.scss */
.green-btn {
  color: #5dcf5b;
  border: 2px solid #5dcf5b !important;
}

/* line 123, ../sass/vars-modules/variables.scss */
.blue-btn {
  color: #526ef2;
  border: 2px solid #526ef2 !important;
}

/* line 129, ../sass/vars-modules/variables.scss */
.content-blocks {
  padding: 53px 0;
  width: 100%;
  margin: 0 auto !important;
  text-align: center;
  height: 450px;
  background: transparent;
}

/* line 138, ../sass/vars-modules/variables.scss */
.header-blocks {
  padding: 20em 0;
  background: transparent;
  margin: auto;
  text-align: center;
}

/* line 145, ../sass/vars-modules/variables.scss */
.footer-blocks {
  padding: 20px 0;
  background: transparent;
}

/* line 150, ../sass/vars-modules/variables.scss */
.content-blocks > h3 {
  font-size: 25px;
  font-weight: 100;
  letter-spacing: 3px;
  line-height: 35px;
}

/* line 157, ../sass/vars-modules/variables.scss */
.header-blocks > h3 {
  font-size: 45px;
  font-weight: 100;
  letter-spacing: 3px;
  line-height: 75px;
}

@media only screen and (max-width: 40em) {
  /* line 166, ../sass/vars-modules/variables.scss */
  .content-blocks {
    padding: 10px 0;
  }

  /* line 170, ../sass/vars-modules/variables.scss */
  .tiny-underline-left {
    margin: 0 auto !important;
  }

  /* line 174, ../sass/vars-modules/variables.scss */
  .card-descr > h2 {
    padding: 0;
    padding-bottom: 10px;
  }

  /* line 180, ../sass/vars-modules/variables.scss */
  .card-descr > ul, #mainbox {
    padding: 10px;
    letter-spacing: 2px;
    line-height: 26px;
    font-weight: 200;
    text-align: center;
  }

  /* line 188, ../sass/vars-modules/variables.scss */
  .card-descr > ul, #mainbox {
    font-size: 16px;
  }

  /* line 192, ../sass/vars-modules/variables.scss */
  .header-blocks > h3, .content-blocks > h3 {
    font-size: 17px;
    letter-spacing: 2px;
    line-height: 30px;
    font-weight: 200;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
  }

  /* line 200, ../sass/vars-modules/variables.scss */
  .header-blocks > h2 {
    font-size: 50px;
    margin-top: 120px;
    -webkit-transition: 0.8s;
    -moz-transition: 0.8s;
    -ms-transition: 0.8s;
    -o-transition: 0.8s;
    transition: 0.8s;
  }

  /* line 206, ../sass/vars-modules/variables.scss */
  .content-blocks > h2, .footer-blocks > h2 {
    line-height: 35px;
    font-size: 25px;
    -webkit-transition: 0.8s;
    -moz-transition: 0.8s;
    -ms-transition: 0.8s;
    -o-transition: 0.8s;
    transition: 0.8s;
  }
}
/* line 213, ../sass/vars-modules/variables.scss */
.footer-social {
  margin-top: 0;
  padding: 0;
}

/* line 218, ../sass/vars-modules/variables.scss */
.footer-links li {
  list-style-type: none;
}

/* line 222, ../sass/vars-modules/variables.scss */
.purp-btn, .green-btn, .white-btn, .blue-btn, .red-btn, .content-blocks > h2, .footer-blocks > h2, .header-blocks > h2 {
  text-transform: uppercase;
}

/* line 226, ../sass/vars-modules/variables.scss */
.grn-underline, .red-underline, .blu-underline, .prp-underline, .wht-underline, .tiny-underline {
  width: 75px;
  height: 2px;
  margin: 0 auto;
  margin-top: 20px;
}

/* line 233, ../sass/vars-modules/variables.scss */
.tiny-underline-left {
  width: 75px;
  height: 2px;
  /* text-align: left; */
  margin: 0;
  margin: 20px 0 0 20px;
}

/* line 241, ../sass/vars-modules/variables.scss */
.wht-underline {
  background: white;
}

/* line 243, ../sass/vars-modules/variables.scss */
.grn-underline {
  background: #5dcf5b;
}

/* line 245, ../sass/vars-modules/variables.scss */
.blu-underline {
  background: #526ef2;
}

/* line 247, ../sass/vars-modules/variables.scss */
.red-underline {
  background: #e05350;
}

/* line 249, ../sass/vars-modules/variables.scss */
.prp-underline, .tiny-underline-left {
  background: #422544;
}

/* line 251, ../sass/vars-modules/variables.scss */
.purp-btn, .green-btn, .white-btn, .blue-btn, .red-btn {
  padding-top: 12px !important;
  curser: pointer;
  font-size: 14px;
  width: 200px;
  height: 50px;
  margin: 5px 0;
  text-align: center;
  display: block;
  -webkit-box-shadow: 2px 9px 5px -6px rgba(0, 0, 0, 0.58);
  -moz-box-shadow: 2px 9px 5px -6px rgba(0, 0, 0, 0.58);
  box-shadow: 2px 9px 5px -6px rgba(0, 0, 0, 0.58);
}

/* line 265, ../sass/vars-modules/variables.scss */
.dynamic-containers, .breakers {
  width: 100%;
  height: 450px;
  position: relative;
  background: #e05350;
}

/* line 272, ../sass/vars-modules/variables.scss */
.threejs-container {
  width: 100%;
  height: 560px;
  position: relative;
  background: #5dcf5b;
}

/* SCROLL UP BTN
============================================= */
/* line 282, ../sass/vars-modules/variables.scss */
#cd-nav ul {
  /* mobile first */
  position: fixed;
  width: 90%;
  max-width: 400px;
  right: 5%;
  bottom: 20px;
  visibility: hidden;
  overflow: hidden;
  z-index: 1;
  transform: scale(0);
  transform-origin: 100% 100%;
  transition: transform 0.3s, visibility 0s 0.3s;
}

/* line 298, ../sass/vars-modules/variables.scss */
#cd-nav ul.is-visible {
  visibility: visible;
  transform: scale(1);
  transition: transform 0.3s, visibility 0s 0s;
}

/* line 304, ../sass/vars-modules/variables.scss */
.cd-nav-trigger {
  position: fixed;
  bottom: 20px;
  right: 5%;
  width: 44px;
  height: 44px;
  /* image replacement */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  z-index: 2;
}

/* BURGER ANIMATION
============================================= */
/* line 322, ../sass/vars-modules/variables.scss */
.c-hamburger {
  position: fixed;
  overflow: hidden;
  margin: 0;
  z-index: 9;
  padding: 0;
  right: 0;
  top: 0;
  width: 60px;
  height: 56px;
  font-size: 0;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  border: none;
  cursor: pointer;
  transition: background 0.3s;
}

/* line 341, ../sass/vars-modules/variables.scss */
.c-hamburger:focus {
  outline: none;
}

/* line 345, ../sass/vars-modules/variables.scss */
.c-hamburger span {
  display: block;
  position: absolute;
  top: 24px;
  left: 18px;
  right: 18px;
  height: 2px;
  background: white;
}

/* line 356, ../sass/vars-modules/variables.scss */
.c-hamburger span::before,
.c-hamburger span::after {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #fff;
  content: "";
}

/* line 366, ../sass/vars-modules/variables.scss */
.c-hamburger span::before {
  top: -10px;
}

/* line 370, ../sass/vars-modules/variables.scss */
.c-hamburger span::after {
  bottom: -10px;
}

/* line 374, ../sass/vars-modules/variables.scss */
.c-hamburger--htx {
  background-color: #422544;
}

/* line 378, ../sass/vars-modules/variables.scss */
.c-hamburger--htx span {
  transition: background 0s 0.3s;
}

/* line 383, ../sass/vars-modules/variables.scss */
.c-hamburger--htx span::before,
.c-hamburger--htx span::after {
  transition-duration: 0.3s, 0.3s;
  transition-delay: 0.3s, 0s;
}

/* line 388, ../sass/vars-modules/variables.scss */
.c-hamburger--htx span::before {
  transition-property: top, transform;
}

/* line 392, ../sass/vars-modules/variables.scss */
.c-hamburger--htx span::after {
  transition-property: bottom, transform;
}

/* active state, i.e. menu open */
/* line 397, ../sass/vars-modules/variables.scss */
.c-hamburger--htx.is-active {
  background-color: #5dcf5b;
}

/* line 401, ../sass/vars-modules/variables.scss */
.c-hamburger--htx.is-active span {
  background: none;
}

/* line 405, ../sass/vars-modules/variables.scss */
.c-hamburger--htx.is-active span::before {
  top: 0;
  transform: rotate(45deg);
}

/* line 410, ../sass/vars-modules/variables.scss */
.c-hamburger--htx.is-active span::after {
  bottom: 0;
  transform: rotate(-45deg);
}

/* line 416, ../sass/vars-modules/variables.scss */
.c-hamburger--htx.is-active span::before,
.c-hamburger--htx.is-active span::after {
  transition-delay: 0s, 0.3s;
}

/* ============================================================
  SECTIONS parallax
============================================================ */
/* line 425, ../sass/vars-modules/variables.scss */
div.breakers.cloud-based {
  background-position: 100% 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

/* ============================================================
  SHOW hidden BTN
============================================================ */
/* line 436, ../sass/vars-modules/variables.scss */
#cd-nav ul {
  /* mobile first */
  position: fixed;
  width: 90%;
  max-width: 400px;
  right: 5%;
  bottom: 20px;
  visibility: hidden;
  overflow: hidden;
  z-index: 1;
  transform: scale(0);
  transform-origin: 100% 100%;
  transition: transform 0.3s, visibility 0s 0.3s;
}

/* line 452, ../sass/vars-modules/variables.scss */
#cd-nav ul.is-visible {
  visibility: visible;
  transform: scale(1);
  transition: transform 0.3s, visibility 0s 0s;
}

/* line 458, ../sass/vars-modules/variables.scss */
.cd-nav-trigger {
  position: fixed;
  bottom: 20px;
  right: 5%;
  width: 44px;
  height: 44px;
  /* image replacement */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  z-index: 2;
}

@media only screen and (min-width: 1170px) {
  /* line 473, ../sass/vars-modules/variables.scss */
  #cd-nav ul {
    /* the navigation moves to the top */
    position: absolute;
    width: auto;
    max-width: none;
    bottom: auto;
    top: 36px;
    visibility: visible;
    transform: scale(1);
    transition: all 0s;
  }

  /* line 485, ../sass/vars-modules/variables.scss */
  #cd-nav.is-fixed ul {
    position: fixed;
    width: 90%;
    max-width: 400px;
    bottom: 20px;
    top: auto;
    visibility: hidden;
    transform: scale(0);
  }
}
/* line 9, ../sass/loops/loops.scss */
.social-facebook {
  background-image: url("/img/facebook.svg");
}

/* line 9, ../sass/loops/loops.scss */
.social-googleplus {
  background-image: url("/img/googleplus.svg");
}

/* line 9, ../sass/loops/loops.scss */
.social-twitter {
  background-image: url("/img/twitter.svg");
}

/* line 9, ../sass/loops/loops.scss */
.social-linkedin {
  background-image: url("/img/linkedin.svg");
}

/* CREDENTIALS
=============================================

----            ----
 ----          ----
  ----        ----
   ----      ----
    ----    ----
     ----  ----
      --------
       ------
        ----

#E05350 valtira red
#6E3772 valtira purple
#526EF2 valtira blue
#5DCF5B valtira green
#381E3A valtira link hovered

/* GLOBALS
============================================= */
/* line 34, ../sass/main.scss */
header,
header h3 {
  color: white;
}

/* line 39, ../sass/main.scss */
main,
main h3 {
  color: #4a4a4a;
}

/* line 43, ../sass/main.scss */
h2 {
  font-weight: 600 !important;
}

/* line 47, ../sass/main.scss */
body {
  overflow-x: hidden;
}

/* line 51, ../sass/main.scss */
small {
  font-size: 80%;
  position: relative;
  top: 80px;
  letter-spacing: 2px;
  /* margin-top: 30px; */
  /* left: 50%; */
  /* right: 50%; */
  /* width: 300px; */
}

/* HEADER / NESTING / INVERT COLORS
============================================= */
/* line 64, ../sass/main.scss */
.brand {
  position: absolute;
  left: 0;
}

/* line 69, ../sass/main.scss */
.brand span.valtiraTxt {
  position: relative;
  top: -5px;
  letter-spacing: 1px;
}

/* line 74, ../sass/main.scss */
nav.topNav {
  height: 30px;
  background: rgba(255, 255, 255, 0.3);
  text-align: center;
  position: absolute;
  height: 56px;
  top: 0;
  width: 100%;
}
/* line 83, ../sass/main.scss */
nav.topNav ul {
  z-index: 5;
  width: 780px;
  height: 56px;
  text-align: center;
  position: relative;
  top: 0;
  display: inline-block;
}
/* line 92, ../sass/main.scss */
nav.topNav ul li {
  cursor: pointer;
  padding: 15px;
  color: white;
  height: 56px;
  display: inline-block;
}

/* line 102, ../sass/main.scss */
nav.whitebg ul li {
  color: black;
}

@media screen and (max-width: 700px) {
  /* line 108, ../sass/main.scss */
  nav.topNav ul {
    width: 500px;
  }
}
@media screen and (max-width: 500px) {
  /* line 114, ../sass/main.scss */
  nav.topNav ul {
    width: 400px;
  }

  /* line 117, ../sass/main.scss */
  nav.topNav ul li:not(.brand) {
    display: none;
  }
}
/* CLASSES
============================================= */
/* line 207, ../sass/main.scss */
.tiny-underline, .content-blocks > h3, .footer-blocks > h3 {
  margin-top: 1em;
}

/* line 219, ../sass/main.scss */
.lower-links {
  text-align: center;
  margin-left: -4em;
  position: relative;
  top: 20px;
}

/* line 226, ../sass/main.scss */
.lower-links li {
  display: inline-block;
  cursor: pointer;
  padding: 10px;
}

/* line 232, ../sass/main.scss */
.lower-links li:hover {
  color: orange;
}

/* line 240, ../sass/main.scss */
.footer-social li {
  display: inline-block;
}

/* line 252, ../sass/main.scss */
.footer-links a:hover {
  text-decoration: none;
  color: #381e3a;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

/* line 270, ../sass/main.scss */
.cloud-based {
  background: url("../img/computer.png") no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* line 273, ../sass/main.scss */
.cloud-based h2, .cloud-based h3 {
  color: white;
}

/* line 277, ../sass/main.scss */
.cloud-based h2 {
  font-size: 23px;
}

/* line 281, ../sass/main.scss */
.cloud-based h3 {
  font-size: 19px;
}

/* line 293, ../sass/main.scss */
.footer-links li a {
  color: white;
}

/* line 297, ../sass/main.scss */
.home {
  height: 100vh;
  background: url("../img/computer.png") no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* line 302, ../sass/main.scss */
.services {
  height: 100vh;
  background: url("../img/future.jpg") no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* line 307, ../sass/main.scss */
.social-circles {
  width: 50px;
  height: 50px;
  background: #999999;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  background: url("../img/googleplus.svg") no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  cursor: pointer;
  text-align: center;
}

/* line 314, ../sass/main.scss */
.social-circles:hover {
  background: url("../img/roll-googleplus.svg") no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* line 322, ../sass/main.scss */
.down-button:hover {
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  background: rgba(110, 55, 114, 0.8);
}

/* line 327, ../sass/main.scss */
.glyphicon-chevron-down:before {
  content: "\e114";
  position: relative;
  top: 20px;
  left: 0;
  color: white;
}

/* line 347, ../sass/main.scss */
.card-descr ul > li {
  list-style-type: none;
  /* float: left; */
  /* padding: 0; */
  /* padding: 0; */
  /* padding: 0; */
  padding: 5px 0 0 0;
  /* height: 500px; */
}

/* line 361, ../sass/main.scss */
#mainbox .card-img1 {
  background: url("../img/services/stock1.png") no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* line 365, ../sass/main.scss */
#mainbox .card-img2 {
  background: url("../img/services/stock2.png") no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* line 369, ../sass/main.scss */
#mainbox .card-img3 {
  background: url("../img/services/stock3.jpg") no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* line 373, ../sass/main.scss */
.card {
  background: white;
  width: 530px;
  box-shadow: 1px 1px 3px #888;
  min-height: 350px;
  padding: 10px;
  margin: 10px;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

/* line 383, ../sass/main.scss */
.card:hover {
  opacity: 0.8;
}

/* line 387, ../sass/main.scss */
.card a {
  text-decoration: none;
}

/* line 391, ../sass/main.scss */
.card-img {
  background: white;
  width: 530px;
  box-shadow: 1px 1px 3px #888;
  min-height: 350px;
  padding: 10px;
  margin: 10px;
}

@media screen and (max-width: 707px) {
  /* line 401, ../sass/main.scss */
  .card {
    margin: 10px -15px;
  }
}
@media screen and (max-width: 991px) {
  /* line 411, ../sass/main.scss */
  .card {
    width: 360px;
  }
}
@media only screen and (max-width: 1199px) {
  /* line 417, ../sass/main.scss */
  .card {
    width: 450px;
  }
}
/* IDs
============================================= */
/* line 425, ../sass/main.scss */
#footer {
  background: #422544;
  height: 410px;
  color: white;
}

/* line 431, ../sass/main.scss */
#mainbox {
  box-sizing: border-box;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

/* line 439, ../sass/main.scss */
#valtLogo {
  width: 50px;
  position: relative;
  top: -5px;
}
