@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300);
/* FUNCTIONS
============================================= */
 /* MIXINS
============================================= */
html, body {
  height: 100%; }

#wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%; }
  #wrapper #container {
    padding: 0 0 30px 0; }

#footer {
  height: 30px; }

 /* MIXINS
============================================= */
html, body {
  height: 100%; }

#wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%; }
  #wrapper #container {
    padding: 0 0 30px 0; }

#footer {
  height: 30px; }

/* FUNCTIONS
============================================= */
/*  VARIABLES
============================================= */
/* CLEARFIX
============================================= */
.content-after-images {
  margin: auto;
  margin: 3em 0 0 0; }

.content-image-containers {
  width: 120%;
  height: 500px;
  background: orange;
  position: relative;
  margin-bottom: 10px;
  box-shadow: 2px 2px 20px black; }

.left-content-image {
  left: 0;
  z-index: 3;
  background: url("../img/su3.jpg") no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

.right-content-image {
  top: 8em;
  left: -6em;
  z-index: 2;
  background: url("../img/su1.jpg") no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

.left-about-image {
  left: 0;
  z-index: 3;
  background: url("../img/su1.jpg") no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

.right-about-image {
  top: 8em;
  left: -6em;
  z-index: 2;
  background: url("../img/su2.jpg") no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

@media screen and (max-width: 767px) {
  .content-after-images {
    margin: auto;
    margin: 0 0 0 0; }

  .content-image-containers {
    width: 100%;
    height: 300px;
    background: orange;
    position: relative;
    margin-bottom: 10px;
    box-shadow: 2px 2px 20px black; }

  .left-content-image {
    left: 0;
    background: url("../img/su3.jpg") no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; }

  .left-about-image {
    left: 0;
    background: url("../img/su1.jpg") no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; }

  .right-about-image {
    display: none; }

  .right-content-image {
    display: none; } }
.card-descr > ul, #mainbox, .alignLeft {
  text-align: left !important; }

.content-caption-wrapper {
  background: orange;
  height: 30px;
  width: 50vw;
  position: relative; }

.svgs-sliders {
  width: 100%;
  background: #fff;
  height: 100%;
  text-align: center; }

.svg-slider-inner {
  width: 70em;
  height: 100%;
  margin: auto;
  background: #fff; }

.valbeam {
  width: 100%;
  height: 0.135em;
  position: absolute; }

.sideMenu {
  display: none;
  position: fixed;
  right: 0;
  z-index: 200;
  top: 30px;
  padding: 15px;
  width: 60px;
  height: 60px;
  cursor: pointer;
  background-color: orange;
  box-shadow: 0 2px 8px 1px rgba(0, 0, 0, 0.4);
  -webkit-transition: width 0.3s, background-color 0.3s;
  transition: width 0.3s, background-color 0.3s; }

.homepageHeader {
  position: absolute;
  top: 40%;
  width: 100%;
  text-align: center; }

.inner-header-blocks > div,
.inner-header-blocks h2,
.inner-header-blocks p {
  position: relative;
  top: 25%;
  text-align: center;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }

.servicesHeader {
  background: url("../img/slitslider/slidestock1.png") no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

.servicesHeader2 {
  background: url("../img/slitslider/slidestock2.png") no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

.singleServices .jumboOverlay, .singleServices {
  background: url("../img/su5.jpg") no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

.jumboOverlay, .homeHeader .jumboOverlay {
  background: rgba(30, 30, 30, 0.2);
  height: 100vh;
  width: 100vw;
  bottom: 0;
  position: absolute; }

.servicesHeader .jumboOverlay {
  /* background: rgba(93,207,91,0.6); */
  height: 40em;
  width: 100vw;
  position: relative;
  top: 0;
  z-index: 3; }

.singleServices .jumboOverlay, .singleServices {
  /* background: rgba(93,207,91,0.6); */
  height: 40em;
  width: 100vw;
  position: relative;
  top: 0;
  z-index: 3; }

.servicesHeader2 .jumboOverlay {
  /* background: rgba(82,110,242,0.6); */
  height: 40em;
  width: 100vw;
  position: relative;
  top: 0;
  z-index: 3; }

pre {
  display: block;
  padding: 9.5px;
  margin: 0 0 10px 20px;
  color: purple;
  letter-spacing: 1px;
  font-size: 13px !important;
  position: relative;
  text-decoration: none;
  top: 15px;
  font-family: Sans-serif !important; }

.pre2 {
  white-space: pre-wrap;
  position: relative;
  left: -6em;
  top: 1em;
  float: right;
  width: 60%;
  height: 6.8em;
  border: 2px solid #5DCF5B;
  color: #5DCF5B;
  font-size: 12px;
  text-align: left !important; }

.left {
  float: left; }

.right {
  float: right; }

.inner-header-blocks {
  position: relative;
  top: 8em; }

.card-descr > ul, #mainbox {
  letter-spacing: 1px;
  line-height: 30px;
  padding: 0.2em 0 0 1.7em;
  font-weight: 200; }

.card-descr > ul, #mainbox, .alignLeft {
  text-align: left; }

pre, .card-descr > h2, .header-blocks, nav.topNav ul li, .homepageHeader p, .inner-header-blocks h2,
.inner-header-blocks p, .content-blocks > p,
.footer-blocks > p, .lower-links li a {
  font-family: 'Open Sans', sans-serif;
  font-weight: 100; }

#mainbox .card h2, .homepageHeader h1, .contentParagraphBlocks h2 {
  font-family: 'Montserrat';
  font-weight: 400; }

.card-descr > p, .contentParagraphBlocks {
  font-size: 18px;
  line-height: 30px;
  width: 500px;
  font-family: 'Open Sans', 'Helvetica', sans-serif;
  padding: 0.6em 0 0 3em;
  font-weight: 400; }

.card-descr > ul, #mainbox, .content-blocks > p,
.footer-blocks > p {
  font-size: 28px; }

.card-descr > h2 {
  padding: 0 0 0 20px;
  font-size: 29px;
  font-weight: 600; }

.left {
  width: 300px;
  background: orange;
  height: 400px; }

.gray-bg {
  padding: 30px;
  background: #fff; }

.right {
  width: 300px;
  background: seagreen;
  height: 400px; }

.down-button {
  border-radius: 50%;
  border: 2px solid #fff;
  height: 70px;
  width: 70px;
  position: absolute;
  top: 98%;
  cursor: pointer;
  left: 75%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

.minimizedImg-left {
  height: 300px !important;
  position: relative;
  top: 20px;
  left: 16px; }

.minimizedImg-right {
  height: 300px !important;
  position: relative;
  top: 20px;
  right: 16px; }

.header-blocks > h1 {
  font-size: 8em !important;
  font-weight: 600;
  letter-spacing: 2px; }

.purp-btn {
  color: #422544;
  border: 2px solid #422544 !important; }

.white-btn {
  color: #fff;
  border: 2px solid #fff !important; }

.red-btn {
  color: #E05350;
  border: 2px solid #E05350 !important; }

.green-btn {
  color: #5DCF5B;
  border: 2px solid #5DCF5B !important; }

.blue-btn {
  color: #526EF2;
  border: 2px solid #526EF2 !important; }

.content-blocks {
  padding: 5em 0;
  width: 75%;
  margin: 0 auto !important;
  text-align: center;
  background: transparent; }

.contentParagraphBlocks {
  width: 75%;
  padding: 4em 0;
  margin: 0 auto !important; }

/*
%pageContentWrapper {
  padding: 5em 0;
  width: 73%;
  margin:0 auto !important;
  text-align: center;
  background: $transparent;
}
*/
.page-blocks {
  padding: 2em 0;
  width: 73%;
  font-size: 22px;
  margin: 0 auto !important;
  text-align: left;
  background: transparent; }

.header-blocks {
  background: transparent;
  margin: auto;
  text-align: center; }

.footer-blocks {
  padding: 25px 0;
  background: transparent; }

.content-blocks > h2, .footer-blocks > h2 {
  font-family: Montserrat;
  font-size: 45px;
  font-weight: 100;
  letter-spacing: 3px;
  line-height: 40px; }

.header-blocks > h2 {
  font-size: 45px;
  font-weight: 100;
  letter-spacing: 3px;
  line-height: 75px; }

@media screen and (max-width: 767px) {
  .pre2 {
    display: none; } }
@media only screen and (max-width: 63em) {
  .pre2 {
    width: 230px; }

  .contentParagraphBlocks {
    width: 90%; }

  .homepageHeader > h1 {
    font-size: 3em !important; }

  .card-descr > ul {
    position: relative;
    top: 0.6em;
    left: 10px;
    font-size: 0.8em;
    line-height: 1em; }

  .content-blocks {
    padding: 1px 0;
    width: 90%; }

  .content-blocks > p,
  .footer-blocks > p {
    padding: 10px;
    letter-spacing: 1px;
    line-height: 40px;
    font-size: 21px;
    text-align: center; }

  .content-blocks {
    padding: 38px 0; }

  .header-blocks > h2, .content-blocks > h2, .footer-blocks > h2 {
    font-size: 30px;
    letter-spacing: 2px;
    line-height: 33px;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s; } }
@media only screen and (max-width: 40em) {
  .left-content-image,
  .right-content-image {
    width: 93%;
    margin: 0 auto; }

  .mobilize {
    width: 100%; }

  .contentParagraphBlocks {
    width: 90%; }

  #mainbox .card h2, .homepageHeader h1 {
    text-align: center; }

  .card-descr ul > li {
    text-align: center; }

  .card-descr > p, .contentParagraphBlocks {
    font-size: 1.15em;
    padding: 0;
    letter-spacing: 0;
    font-weight: 200;
    line-height: 30px; }

  .servicesHeader .jumboOverlay {
    height: 30em; }

  .servicesHeader2 .jumboOverlay {
    height: 30em; }

  div.breakers.cloud-based {
    z-index: 0;
    background-position: 100% 50%;
    background-repeat: no-repeat;
    background-size: 1000%; }

  .brand {
    background-color: rgba(10, 10, 10, 0.3); }

  .inner-header-blocks {
    top: 10em; }

  pre {
    display: none; }

  .card-descr > ul {
    position: static;
    top: 0;
    padding: 0; }

  .card-descr > h2 {
    margin-left: 0 !important; }

  .lower-links {
    text-align: left;
    position: relative;
    top: 20px; }

  .homepageHeader h1 {
    line-height: 65px;
    font-size: 35px; }

  .content-blocks {
    padding: 1em 0;
    width: 100%; }

  .tiny-underline-left-purp, .tiny-underline-left-grn {
    margin: 0 auto !important; }

  .card-descr > h2 {
    padding: 2em;
    padding-bottom: 10px; }

  .card-descr > ul, #mainbox {
    letter-spacing: 2px;
    line-height: 26px;
    font-weight: 200;
    text-align: center; }

  .card-descr > ul, #mainbox, .content-blocks > p,
  .footer-blocks > p {
    font-size: 16px; }

  .content-blocks > p,
  .footer-blocks > p {
    padding: 10px;
    letter-spacing: 1px;
    line-height: 30px;
    font-size: 17px; }

  .header-blocks > h2, .content-blocks > h2, .footer-blocks > h2 {
    font-size: 25px;
    letter-spacing: 2px;
    line-height: 30px;
    font-weight: 200;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s; }

  .header-blocks > h1 {
    font-size: 50px !important;
    margin-top: 120px;
    -webkit-transition: 0.8s;
    -moz-transition: 0.8s;
    -ms-transition: 0.8s;
    -o-transition: 0.8s;
    transition: 0.8s; } }
.footer-social {
  margin-top: 0;
  padding: 0; }

.footer-links li {
  list-style-type: none; }

.brand .valtiraTxt, .homepageHeader h1, .purp-btn, .green-btn, .white-btn, .blue-btn, .red-btn, .footer-blocks > h3, .content-blocks > h2, .footer-blocks > h2, .contentParagraphBlocks h2, .header-blocks > h1 {
  text-transform: uppercase; }

.grn-underline, .red-underline, .blu-underline, .prp-underline, .wht-underline, .tiny-underline {
  width: 75px;
  height: 2px;
  margin: 0 auto;
  margin-top: 1em;
  margin-bottom: 1em; }

.tiny-underline-left-purp, .tiny-underline-left-grn {
  width: 75px;
  height: 2px;
  /* text-align: left; */
  margin: 0;
  margin: 20px 0 0 20px; }

.wht-underline {
  background: #fff; }

.grn-underline, .tiny-underline-left-grn {
  background: #5DCF5B; }

.blu-underline {
  background: #526EF2; }

.red-underline {
  background: #E05350; }

.prp-underline, .tiny-underline-left-purp {
  background: #422544; }

.purp-btn, .green-btn, .white-btn, .blue-btn, .red-btn {
  padding-top: 12px !important;
  curser: pointer;
  font-size: 14px;
  width: 200px;
  height: 50px;
  margin: 5px 0;
  text-align: center;
  display: block;
  -webkit-box-shadow: 2px 7px 20px -6px rgba(0, 0, 0, 0.58);
  -moz-box-shadow: 2px 7px 20px -6px rgba(0, 0, 0, 0.58);
  box-shadow: 2px 7px 20px -6px rgba(0, 0, 0, 0.58); }

.dynamic-containers, .breakers {
  width: 100%;
  height: 450px;
  position: relative;
  background: transparent; }

.sm-dynamic-containers {
  width: 100%;
  height: 250px;
  position: relative;
  background: transparent; }

.threejs-container {
  width: 100%;
  height: 560px;
  position: relative;
  background: #5DCF5B; }

.c-hamburger:before {
  content: '\2630';
  font-size: 2em; }

 /* MIXINS
============================================= */
html, body {
  height: 100%; }

#wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%; }
  #wrapper #container {
    padding: 0 0 30px 0; }

#footer {
  height: 30px; }

/* FUNCTIONS
============================================= */
/*  VARIABLES
============================================= */
/* CLEARFIX
============================================= */
.content-after-images {
  margin: auto;
  margin: 3em 0 0 0; }

.content-image-containers {
  width: 120%;
  height: 500px;
  background: orange;
  position: relative;
  margin-bottom: 10px;
  box-shadow: 2px 2px 20px black; }

.left-content-image {
  left: 0;
  z-index: 3;
  background: url("../img/su3.jpg") no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

.right-content-image {
  top: 8em;
  left: -6em;
  z-index: 2;
  background: url("../img/su1.jpg") no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

.left-about-image {
  left: 0;
  z-index: 3;
  background: url("../img/su1.jpg") no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

.right-about-image {
  top: 8em;
  left: -6em;
  z-index: 2;
  background: url("../img/su2.jpg") no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

@media screen and (max-width: 767px) {
  .content-after-images {
    margin: auto;
    margin: 0 0 0 0; }

  .content-image-containers {
    width: 100%;
    height: 300px;
    background: orange;
    position: relative;
    margin-bottom: 10px;
    box-shadow: 2px 2px 20px black; }

  .left-content-image {
    left: 0;
    background: url("../img/su3.jpg") no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; }

  .left-about-image {
    left: 0;
    background: url("../img/su1.jpg") no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; }

  .right-about-image {
    display: none; }

  .right-content-image {
    display: none; } }
.card-descr > ul, #mainbox, .alignLeft {
  text-align: left !important; }

.content-caption-wrapper {
  background: orange;
  height: 30px;
  width: 50vw;
  position: relative; }

.svgs-sliders {
  width: 100%;
  background: #fff;
  height: 100%;
  text-align: center; }

.svg-slider-inner {
  width: 70em;
  height: 100%;
  margin: auto;
  background: #fff; }

.valbeam {
  width: 100%;
  height: 0.135em;
  position: absolute; }

.sideMenu {
  display: none;
  position: fixed;
  right: 0;
  z-index: 200;
  top: 30px;
  padding: 15px;
  width: 60px;
  height: 60px;
  cursor: pointer;
  background-color: orange;
  box-shadow: 0 2px 8px 1px rgba(0, 0, 0, 0.4);
  -webkit-transition: width 0.3s, background-color 0.3s;
  transition: width 0.3s, background-color 0.3s; }

.homepageHeader {
  position: absolute;
  top: 40%;
  width: 100%;
  text-align: center; }

.inner-header-blocks > div,
.inner-header-blocks h2,
.inner-header-blocks p {
  position: relative;
  top: 25%;
  text-align: center;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }

.servicesHeader {
  background: url("../img/slitslider/slidestock1.png") no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

.servicesHeader2 {
  background: url("../img/slitslider/slidestock2.png") no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

.singleServices .jumboOverlay, .singleServices {
  background: url("../img/su5.jpg") no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

.jumboOverlay, .homeHeader .jumboOverlay {
  background: rgba(30, 30, 30, 0.2);
  height: 100vh;
  width: 100vw;
  bottom: 0;
  position: absolute; }

.servicesHeader .jumboOverlay {
  /* background: rgba(93,207,91,0.6); */
  height: 40em;
  width: 100vw;
  position: relative;
  top: 0;
  z-index: 3; }

.singleServices .jumboOverlay, .singleServices {
  /* background: rgba(93,207,91,0.6); */
  height: 40em;
  width: 100vw;
  position: relative;
  top: 0;
  z-index: 3; }

.servicesHeader2 .jumboOverlay {
  /* background: rgba(82,110,242,0.6); */
  height: 40em;
  width: 100vw;
  position: relative;
  top: 0;
  z-index: 3; }

pre {
  display: block;
  padding: 9.5px;
  margin: 0 0 10px 20px;
  color: purple;
  letter-spacing: 1px;
  font-size: 13px !important;
  position: relative;
  text-decoration: none;
  top: 15px;
  font-family: Sans-serif !important; }

.pre2 {
  white-space: pre-wrap;
  position: relative;
  left: -6em;
  top: 1em;
  float: right;
  width: 60%;
  height: 6.8em;
  border: 2px solid #5DCF5B;
  color: #5DCF5B;
  font-size: 12px;
  text-align: left !important; }

.left {
  float: left; }

.right {
  float: right; }

.inner-header-blocks {
  position: relative;
  top: 8em; }

.card-descr > ul, #mainbox {
  letter-spacing: 1px;
  line-height: 30px;
  padding: 0.2em 0 0 1.7em;
  font-weight: 200; }

.card-descr > ul, #mainbox, .alignLeft {
  text-align: left; }

pre, .card-descr > h2, .header-blocks, nav.topNav ul li, .homepageHeader p, .inner-header-blocks h2,
.inner-header-blocks p, .content-blocks > p,
.footer-blocks > p, .lower-links li a {
  font-family: 'Open Sans', sans-serif;
  font-weight: 100; }

#mainbox .card h2, .homepageHeader h1, .contentParagraphBlocks h2 {
  font-family: 'Montserrat';
  font-weight: 400; }

.card-descr > p, .contentParagraphBlocks {
  font-size: 18px;
  line-height: 30px;
  width: 500px;
  font-family: 'Open Sans', 'Helvetica', sans-serif;
  padding: 0.6em 0 0 3em;
  font-weight: 400; }

.card-descr > ul, #mainbox, .content-blocks > p,
.footer-blocks > p {
  font-size: 28px; }

.card-descr > h2 {
  padding: 0 0 0 20px;
  font-size: 29px;
  font-weight: 600; }

.left {
  width: 300px;
  background: orange;
  height: 400px; }

.gray-bg {
  padding: 30px;
  background: #fff; }

.right {
  width: 300px;
  background: seagreen;
  height: 400px; }

.down-button {
  border-radius: 50%;
  border: 2px solid #fff;
  height: 70px;
  width: 70px;
  position: absolute;
  top: 98%;
  cursor: pointer;
  left: 75%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

.minimizedImg-left {
  height: 300px !important;
  position: relative;
  top: 20px;
  left: 16px; }

.minimizedImg-right {
  height: 300px !important;
  position: relative;
  top: 20px;
  right: 16px; }

.header-blocks > h1 {
  font-size: 8em !important;
  font-weight: 600;
  letter-spacing: 2px; }

.purp-btn {
  color: #422544;
  border: 2px solid #422544 !important; }

.white-btn {
  color: #fff;
  border: 2px solid #fff !important; }

.red-btn {
  color: #E05350;
  border: 2px solid #E05350 !important; }

.green-btn {
  color: #5DCF5B;
  border: 2px solid #5DCF5B !important; }

.blue-btn {
  color: #526EF2;
  border: 2px solid #526EF2 !important; }

.content-blocks {
  padding: 5em 0;
  width: 75%;
  margin: 0 auto !important;
  text-align: center;
  background: transparent; }

.contentParagraphBlocks {
  width: 75%;
  padding: 4em 0;
  margin: 0 auto !important; }

/*
%pageContentWrapper {
  padding: 5em 0;
  width: 73%;
  margin:0 auto !important;
  text-align: center;
  background: $transparent;
}
*/
.page-blocks {
  padding: 2em 0;
  width: 73%;
  font-size: 22px;
  margin: 0 auto !important;
  text-align: left;
  background: transparent; }

.header-blocks {
  background: transparent;
  margin: auto;
  text-align: center; }

.footer-blocks {
  padding: 25px 0;
  background: transparent; }

.content-blocks > h2, .footer-blocks > h2 {
  font-family: Montserrat;
  font-size: 45px;
  font-weight: 100;
  letter-spacing: 3px;
  line-height: 40px; }

.header-blocks > h2 {
  font-size: 45px;
  font-weight: 100;
  letter-spacing: 3px;
  line-height: 75px; }

@media screen and (max-width: 767px) {
  .pre2 {
    display: none; } }
@media only screen and (max-width: 63em) {
  .pre2 {
    width: 230px; }

  .contentParagraphBlocks {
    width: 90%; }

  .homepageHeader > h1 {
    font-size: 3em !important; }

  .card-descr > ul {
    position: relative;
    top: 0.6em;
    left: 10px;
    font-size: 0.8em;
    line-height: 1em; }

  .content-blocks {
    padding: 1px 0;
    width: 90%; }

  .content-blocks > p,
  .footer-blocks > p {
    padding: 10px;
    letter-spacing: 1px;
    line-height: 40px;
    font-size: 21px;
    text-align: center; }

  .content-blocks {
    padding: 38px 0; }

  .header-blocks > h2, .content-blocks > h2, .footer-blocks > h2 {
    font-size: 30px;
    letter-spacing: 2px;
    line-height: 33px;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s; } }
@media only screen and (max-width: 40em) {
  .left-content-image,
  .right-content-image {
    width: 93%;
    margin: 0 auto; }

  .mobilize {
    width: 100%; }

  .contentParagraphBlocks {
    width: 90%; }

  #mainbox .card h2, .homepageHeader h1 {
    text-align: center; }

  .card-descr ul > li {
    text-align: center; }

  .card-descr > p, .contentParagraphBlocks {
    font-size: 1.15em;
    padding: 0;
    letter-spacing: 0;
    font-weight: 200;
    line-height: 30px; }

  .servicesHeader .jumboOverlay {
    height: 30em; }

  .servicesHeader2 .jumboOverlay {
    height: 30em; }

  div.breakers.cloud-based {
    z-index: 0;
    background-position: 100% 50%;
    background-repeat: no-repeat;
    background-size: 1000%; }

  .brand {
    background-color: rgba(10, 10, 10, 0.3); }

  .inner-header-blocks {
    top: 10em; }

  pre {
    display: none; }

  .card-descr > ul {
    position: static;
    top: 0;
    padding: 0; }

  .card-descr > h2 {
    margin-left: 0 !important; }

  .lower-links {
    text-align: left;
    position: relative;
    top: 20px; }

  .homepageHeader h1 {
    line-height: 65px;
    font-size: 35px; }

  .content-blocks {
    padding: 1em 0;
    width: 100%; }

  .tiny-underline-left-purp, .tiny-underline-left-grn {
    margin: 0 auto !important; }

  .card-descr > h2 {
    padding: 2em;
    padding-bottom: 10px; }

  .card-descr > ul, #mainbox {
    letter-spacing: 2px;
    line-height: 26px;
    font-weight: 200;
    text-align: center; }

  .card-descr > ul, #mainbox, .content-blocks > p,
  .footer-blocks > p {
    font-size: 16px; }

  .content-blocks > p,
  .footer-blocks > p {
    padding: 10px;
    letter-spacing: 1px;
    line-height: 30px;
    font-size: 17px; }

  .header-blocks > h2, .content-blocks > h2, .footer-blocks > h2 {
    font-size: 25px;
    letter-spacing: 2px;
    line-height: 30px;
    font-weight: 200;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s; }

  .header-blocks > h1 {
    font-size: 50px !important;
    margin-top: 120px;
    -webkit-transition: 0.8s;
    -moz-transition: 0.8s;
    -ms-transition: 0.8s;
    -o-transition: 0.8s;
    transition: 0.8s; } }
.footer-social {
  margin-top: 0;
  padding: 0; }

.footer-links li {
  list-style-type: none; }

.brand .valtiraTxt, .homepageHeader h1, .purp-btn, .green-btn, .white-btn, .blue-btn, .red-btn, .footer-blocks > h3, .content-blocks > h2, .footer-blocks > h2, .contentParagraphBlocks h2, .header-blocks > h1 {
  text-transform: uppercase; }

.grn-underline, .red-underline, .blu-underline, .prp-underline, .wht-underline, .tiny-underline {
  width: 75px;
  height: 2px;
  margin: 0 auto;
  margin-top: 1em;
  margin-bottom: 1em; }

.tiny-underline-left-purp, .tiny-underline-left-grn {
  width: 75px;
  height: 2px;
  /* text-align: left; */
  margin: 0;
  margin: 20px 0 0 20px; }

.wht-underline {
  background: #fff; }

.grn-underline, .tiny-underline-left-grn {
  background: #5DCF5B; }

.blu-underline {
  background: #526EF2; }

.red-underline {
  background: #E05350; }

.prp-underline, .tiny-underline-left-purp {
  background: #422544; }

.purp-btn, .green-btn, .white-btn, .blue-btn, .red-btn {
  padding-top: 12px !important;
  curser: pointer;
  font-size: 14px;
  width: 200px;
  height: 50px;
  margin: 5px 0;
  text-align: center;
  display: block;
  -webkit-box-shadow: 2px 7px 20px -6px rgba(0, 0, 0, 0.58);
  -moz-box-shadow: 2px 7px 20px -6px rgba(0, 0, 0, 0.58);
  box-shadow: 2px 7px 20px -6px rgba(0, 0, 0, 0.58); }

.dynamic-containers, .breakers {
  width: 100%;
  height: 450px;
  position: relative;
  background: transparent; }

.sm-dynamic-containers {
  width: 100%;
  height: 250px;
  position: relative;
  background: transparent; }

.threejs-container {
  width: 100%;
  height: 560px;
  position: relative;
  background: #5DCF5B; }

.c-hamburger:before {
  content: '\2630';
  font-size: 2em; }

.social-facebook {
  background-image: url("/img/facebook.svg"); }

.social-googleplus {
  background-image: url("/img/googleplus.svg"); }

.social-twitter {
  background-image: url("/img/twitter.svg"); }

.social-linkedin {
  background-image: url("/img/linkedin.svg"); }

/* CREDENTIALS
=============================================

----            ----
 ----          ----
  ----        ----
   ----      ----
    ----    ----
     ----  ----
      --------
       ------
        ----

#E05350 valtira red

#6E3772 valtira purple

#526EF2 valtira blue

#5DCF5B valtira green

#381E3A valtira link hovered

/* GLOBALS
============================================= */
header,
header h3 {
  color: #5DCF5B; }

section h3 {
  color: #333743; }

section.homepageHeader h1,
section.homepageHeader p {
  color: #fff; }

h2 {
  font-weight: 600; }

body {
  overflow-x: hidden; }

small {
  font-size: 80%;
  position: relative;
  top: 45px;
  letter-spacing: 2px; }

/* HEADER / NESTING / INVERT COLORS
============================================= */
.brand {
  position: absolute;
  left: 1em; }

.brand:hover {
  background: rgba(10, 10, 10, 0.3); }

a.hamburger-trigger:before {
  content: '\2630';
  position: relative;
  font-family: FontAweseome; }

.sideMenu li {
  cursor: pointer;
  list-style-type: none; }

.sideMenu li a {
  color: #fff;
  font-size: 20px;
  position: relative;
  left: 0.35em; }

nav.topNav {
  width: 100%;
  z-index: 9;
  padding: 1.5em;
  position: absolute; }
  nav.topNav ul {
    width: 100%;
    float: right;
    text-align: center; }
    nav.topNav ul li {
      display: inline;
      text-decoration: none;
      list-style-type: none;
      letter-spacing: 1px; }
      nav.topNav ul li a {
        padding: 1.5em;
        display: inline;
        color: #fff;
        float: right; }

nav.topNav ul li a:hover {
  background: rgba(10, 10, 10, 0.3);
  text-underline: none;
  text-decoration: none;
  list-style-type: none;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s; }

.active {
  background: rgba(10, 10, 10, 0.3); }

.brand .valtiraTxt {
  position: relative;
  left: 1em;
  letter-spacing: 2px;
  color: #fff;
  font-size: 17px;
  top: 0.7em; }

aside.sideMenu li a img {
  width: 3em;
  position: relative;
  top: -2.1em;
  left: -20px; }

@media screen and (max-width: 700px) {
  nav.topNav ul {
    width: 500px; } }
@media screen and (max-width: 789px) {
  nav.topNav ul {
    width: 400px; }

  nav.topNav ul li a:not(.brand) {
    display: none; }

  nav.topNav {
    height: 115px; } }
/* CLASSES
============================================= */
.fullWidthImage {
  width: 100%;
  box-shadow: 5px 5px 25px gray; }

.negativeLeftImage {
  margin: 0.5em 2.5em 1.1em 0;
  margin-left: -230px;
  box-shadow: 5px 5px 25px gray; }

.negativeRightImage {
  margin: 0.8em 0 0 1.5em;
  margin-right: -180px;
  box-shadow: 5px 5px 15px gray; }

.lmfao {
  background: transparent;
  width: 100%;
  display: table; }

.lmfao > div {
  display: table-cell;
  width: 33.33333%;
  height: 50%;
  background: red;
  float: left;
  cursor: pointer;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s; }

.lmfao > div:hover {
  background: aqua; }

.left-content-image {
  box-shadow: 5px 5px 25px gray; }

.right-content-image {
  box-shadow: 5px 5px 25px gray; }

.left-about-image {
  box-shadow: 5px 5px 25px gray; }

.right-about-image {
  box-shadow: 5px 5px 25px gray; }

.svg-slider-inner > img {
  width: 12em;
  -webkit-transition: 0.8s;
  -moz-transition: 0.8s;
  -ms-transition: 0.8s;
  -o-transition: 0.8s;
  transition: 0.8s; }

.svg-slider-inner > img {
  padding: 0;
  margin: 3em;
  margin-top: 5em; }

#sqlicon {
  width: 5em; }

#mysqlicon {
  width: 11em; }

@media only screen and (max-width: 63em) {
  .lmfao > div {
    display: table-cell;
    width: 50%;
    height: 50%;
    background: red;
    float: left;
    cursor: pointer;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s; }

  .svg-slider-inner {
    width: 45em; }

  .svg-slider-inner img {
    width: 8em;
    padding: 0;
    margin: 2em;
    margin-top: 6em; }

  #sqlicon {
    width: 5em; }

  #mysqlicon {
    width: 7em; } }
@media only screen and (max-width: 37em) {
  .lmfao > div {
    display: table-cell;
    width: 100%;
    height: 33.3333%;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s; }

  .svg-slider-inner img {
    width: 9.5em;
    padding: 0;
    margin: 1em;
    margin-top: 2em; }

  .svg-slider-inner {
    width: 100%; } }
.homepageHeader h1 {
  margin: 0;
  letter-spacing: 0.1em;
  font-size: 5em;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s; }

.homepageHeader p {
  margin: 1em;
  font-size: 160%;
  letter-spacing: 3px; }

.sm-content-blocks {
  padding-bottom: 0;
  padding-top: 0;
  height: 100px; }

.inner-header-blocks h2,
.inner-header-blocks p {
  color: #fff; }

.inner-header-blocks p {
  margin-left: -1em; }

.header-blocks p {
  margin-top: 2em;
  font-size: 26px !important;
  letter-spacing: 3px;
  color: #fff;
  z-index: 999;
  opacity: 1; }

.tiny-underline {
  margin: 1em; }

.footer-blocks > h3 {
  font-size: 35px; }

.content-blocks > h2, .footer-blocks > h2 {
  font-weight: 500; }

.content-blocks > h2 {
  line-height: 1em; }

.contentParagraphBlocks h2 {
  font-size: 2.5em;
  margin: 0;
  letter-spacing: 1px;
  text-align: center; }

.lower-links {
  text-align: center;
  margin-left: -4em;
  position: relative;
  top: 20px; }

.lower-links li {
  display: inline-block;
  cursor: pointer;
  padding: 10px; }

.lower-links li a {
  letter-spacing: 1px;
  text-decoration: none;
  color: #fff; }

.lower-links li a:hover {
  color: #5DCF5B;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s; }

@media only screen and (max-width: 37em) {
  .lower-links {
    margin-left: 0;
    padding: 1em;
    width: 100%; } }
.footer-social li {
  display: inline-block; }

.footer-links a:hover {
  text-decoration: none;
  color: #381E3A;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s; }

.cloud-based {
  background: url("../img/slitslider/slidestock1.png") no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  clear: both;
  position: relative; }

.cloud-based .content-blocks > p, .cloud-based h2 {
  color: white; }

.cloud-based h2 {
  font-size: 23px; }

.cloud-based h3 {
  font-size: 19px; }

.inner-header-blocks p {
  margin-top: 2.7em; }

.footer-links li a {
  color: #fff; }

.home {
  height: 100vh !important;
  background: url("../img/galaxy.jpg") no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

.services {
  height: 100vh;
  background: url("../img/future.jpg") no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

.social-circles {
  width: 50px;
  height: 50px;
  background: #999;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  background: #fff;
  cursor: pointer;
  text-align: center; }

.social-circles > i {
  position: relative;
  top: 0.4em; }

@media only screen and (max-width: 63em) {
  .social-circles {
    width: 40px;
    height: 40px;
    background: #999;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
    background: #fff;
    cursor: pointer;
    text-align: center; }

  .social-circles > i {
    font-size: 1.5em;
    top: 0.4em; } }
.down-button:hover {
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  background: #5DCF5B; }

.glyphicon-chevron-down:before {
  content: "\e114";
  position: relative;
  top: 20px;
  left: 0;
  color: #fff; }

.card-descr > ul {
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; }

.card-descr > h2 {
  margin-left: 1em; }

.card-descr > div:nth-child(3) {
  margin-left: 1.8em; }

.card-descr ul > li {
  list-style-type: none;
  padding: 15px 0 0 0; }

.minimizedImg-right,
.minimizedImg-left {
  box-shadow: 0 10px 6px 0 gainsboro; }

.card {
  background: #FCFCFC;
  width: 565px;
  min-height: 350px;
  padding: 10px;
  position: relative;
  margin: 10px;
  color: #333743;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s; }

.card a {
  text-decoration: none; }

.card-img {
  background: #fff;
  width: 530px;
  box-shadow: 1px 1px 3px #888;
  min-height: 350px;
  padding: 10px;
  margin: 10px; }

.jumbotron {
  height: 100vh;
  width: 100vw; }

@media only screen and (max-width: 63em) {
  .mobilize {
    width: 100%;
    margin: 0;
    margin: 1.5em 0; }

  .contentParagraphBlocks h2 {
    font-size: 30px; } }
@media only screen and (max-width: 40em) {
  .mobilize {
    width: 100%;
    margin: 0.5em 0 2.5em 0; }

  .contentParagraphBlocks h2 {
    font-size: 25px; }

  .inner-header-blocks p {
    margin-top: 4.2em; } }
/* IDs
============================================= */
#triangle-left {
  position: absolute;
  border-top: 400px solid transparent;
  border-right: 47px solid #FCFCFC;
  /* border-bottom: 0px solid transparent; */
  left: -47px;
  z-index: 3;
  top: 0; }

#triangle-topleft {
  position: absolute;
  right: -45px;
  top: 0;
  width: 0;
  height: 0;
  border-top: 401px solid #FCFCFC;
  border-right: 45px solid transparent;
  z-index: 2; }

#footer {
  background: #422544;
  height: 410px;
  color: white; }

#mainbox {
  box-sizing: border-box;
  margin: 0 0 20px 0;
  padding: 0; }

#valtLogo {
  width: 50px;
  position: relative;
  left: 10px;
  top: 10px; }

#mainbox .card-img1 {
  background: url("../img/services/stock1.png") no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

#mainbox .card-img2 {
  background: url("../img/services/stock2.png") no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

#mainbox .card-img3 {
  background: url("../img/services/stock3.jpg") no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

/* QUERIES
============================================= */
@media only screen and (max-width: 1199px) {
  #mainbox {
    width: 100%;
    margin: 0 auto; }

  .card {
    width: 47%; } }
@media screen and (max-width: 1035px) {
  #mainbox {
    width: 100%;
    margin: 0 auto; }

  .card {
    width: 46.5%; } }
@media screen and (max-width: 645px) {
  #triangle-left, #triangle-topleft {
    display: none; }

  .minimizedImg-left,
  .minimizedImg-right {
    float: left;
    min-height: 350px;
    position: static; }

  .card {
    width: 100%;
    float: none;
    margin: auto;
    margin: 5px 0; }

  #mainbox {
    padding: 0; }

  .gray-bg {
    padding: 15px; } }
@media screen and (max-width: 640px) {
  .pinwheel_slider .pinwheel_text {
    font-size: 10px;
    margin: -6px 0 14px;
    z-index: 99; } }
