@import url(https://fonts.googleapis.com/css?family=Open+Sans);

@import 'functions/functions.scss';

@import 'mixins/mixins.scss';

@import 'vars-modules/variables.scss';

@import 'loops/loops.scss';

/* CREDENTIALS
=============================================

----            ----
 ----          ----
  ----        ----
   ----      ----
    ----    ----
     ----  ----
      --------
       ------
        ----

#E05350 valtira red
#6E3772 valtira purple
#526EF2 valtira blue
#5DCF5B valtira green
#381E3A valtira link hovered

/* GLOBALS
============================================= */

header,
header h3 {
    color: sfc($valwhte, black);
}

main,
main h3 {
    color: sfc(black, $gray-text);
}

h2 {
    font-weight: 600 !important;
}

body {
    overflow-x: hidden;
}

small {
    font-size: 80%;
    position: relative;
    top: 80px;
    letter-spacing: 2px;
    /* margin-top: 30px; */
    /* left: 50%; */
    /* right: 50%; */
    /* width: 300px; */
}

/* HEADER / NESTING / INVERT COLORS
============================================= */
.brand {
    position: absolute;
    left: 0;
}

.brand span.valtiraTxt {
    position: relative;
    top:-5px;
    letter-spacing: 1px;
}
nav.topNav {
    height: 30px;
    background: rgba(255, 255, 255, 0.3);
    text-align: center;
    position: absolute;
    height: 56px;
    top: 0;
    width: 100%;

        ul {
        z-index: 5;
        width: 780px;
        height: 56px;
        text-align: center;
        position: relative;
        top: 0;
        display: inline-block;

            li {
            cursor: pointer;
            padding: 15px;
            color: $valwhte;
            height: 56px;
            display: inline-block;
        }
    }
}

nav.whitebg ul li {
    color: sfc(orange, black);

}

@media screen and (max-width: 700px) {
   nav.topNav ul {
        width: 500px;
    }
}

@media screen and (max-width: 500px) {
   nav.topNav ul {
        width: 400px;
    }
    nav.topNav ul li:not(.brand) {
        display: none;
    }
}

/* CLASSES
============================================= */

.purp-btn {
    @extend %btn;
    @extend %purple-buttons;
    @extend %inset;
}

.green-btn {
    @extend %btn;
    @extend %green-buttons;
    @extend %inset;
}

.white-btn {
    @extend %btn;
    @extend %inset;
    @extend %white-buttons;
}

.green-btn {
    @extend %btn;
    @extend %green-buttons;
    @extend %inset;
}

.blue-btn {
    @extend %btn;
    @extend %blue-buttons;
    @extend %inset;
}

.red-btn {
    @extend %btn;
    @extend %red-buttons;
    @extend %inset;
}

.grn-underline {
    @extend %tiny-underline-grn;
    @extend %tiny-underline;
}

.red-underline {
    @extend %tiny-underline-red;
    @extend %tiny-underline;
}

.blu-underline {
    @extend %tiny-underline-blu;
    @extend %tiny-underline;
}

.prp-underline {
    @extend %tiny-underline-prp;
    @extend %tiny-underline;
}

.wht-underline {
    @extend %tiny-underline-wht;
    @extend %tiny-underline;
}

.content-blocks {
    @extend %content-blocks;
}

.header-blocks {
    @extend %header-blocks;
}

.footer-blocks {
    @extend %footer-blocks;
}

.tiny-underline {
    @extend %tiny-underline;
}

.tiny-underline-left {
    @extend %tiny-underline-left;
    @extend %tiny-underline-prp;
}

.tiny-underline, .content-blocks > h3, .footer-blocks > h3 {  margin-top: 1em; }

.content-blocks > h2, .footer-blocks > h2 {
    @extend %reset-H1;
    @extend %inset;
}

.header-blocks > h2 {
    @extend %page-Header;
    @extend %inset;
}

.lower-links {
    text-align: center;
    margin-left: -4em;
    position: relative;
    top: 20px;
}

.lower-links li {
    display: inline-block;
    cursor: pointer;
    padding: 10px;
}

.lower-links li:hover {
    color: orange;
}

.footer-social {
    @extend %footer-social;
}

.footer-social li {
    display: inline-block;
}

.content-blocks > h3 {
    @extend %content-blocks-h3;
}

.header-blocks > h3 {
    @extend %header-blocks-h3;
}

.footer-links a:hover {
    text-decoration: none;
    color: $link-hovered;
    @include transition(0.2s);
}

.threejs-container {
    @extend %threejs-container;
}

.dynamic-containers {
    @extend %dynamic-containers;
}

.breakers {
    @extend %dynamic-containers;
}

.cloud-based {
    @include cover-background('../img/computer.png');
}
.cloud-based h2, .cloud-based h3 {
    color: sfc($valwhte, black);
}

.cloud-based h2 {
    font-size: 23px;
}

.cloud-based h3 {
    font-size: 19px;
}

.inner-header-blocks {
    @extend %inner-header-blocks;
}

.footer-links li {
    @extend %footer-links;
}

.footer-links li a {
    color: $valwhte;
}

.home {
    height: 100vh;
    @include cover-background('../img/computer.png');
}

.services {
    height: 100vh;
    @include cover-background('../img/future.jpg');
}

.social-circles {
    @include circle(50px, #999);
    @include cover-background('../img/googleplus.svg');
    cursor: pointer;
    text-align: center;
}

.social-circles:hover {
    @include cover-background('../img/roll-googleplus.svg');
}

.down-button {
    @extend %down-button;
}

.down-button:hover {
    @include transition(0.4s);
    background:rgba(110, 55, 114, 0.8);
}

.glyphicon-chevron-down:before {
    content: "\e114";
    position: relative;
    top: 20px;
    left: 0;
    color: $valwhte;
}

.left {
    @extend %leftCard;
}

.right {
    @extend %rightCard;
}

.card-descr > ul {
    @extend %cardContent;
}

.card-descr ul > li {
    list-style-type: none;
    /* float: left; */
    /* padding: 0; */
    /* padding: 0; */
    /* padding: 0; */
    padding: 5px 0 0 0;
    /* height: 500px; */
}

.card-descr > h2 {
    @extend %cardHeader;
}

#mainbox .card-img1 {
    @include cover-background("../img/services/stock1.png");
}

#mainbox .card-img2 {
    @include cover-background("../img/services/stock2.png");
}

#mainbox .card-img3 {
    @include cover-background("../img/services/stock3.jpg");
}

.card {
    background: $valwhte;
    width: 530px;
    box-shadow: 1px 1px 3px #888;
    min-height: 350px;
    padding: 10px;
    margin: 10px;
    @include transition(0.2s);
}

.card:hover {
    opacity: 0.8;
}

.card a {
        text-decoration: none;

}
.card-img {
    background: $valwhte;
    width: 530px;
    box-shadow: 1px 1px 3px #888;
    min-height: 350px;
    padding: 10px;
    margin: 10px;
}

@media screen and (max-width: 707px) {
    .card{
    margin: 10px -15px;
    }
}

.gray-bg {
    @extend %gray-bg;
}

@media screen and (max-width: 991px) {
    .card{
        width: 360px;
    }
}

@include bp-smlarge {
    .card{
        width: 450px;
    }
}

/* IDs
============================================= */

#footer {
    background: $valpurp;
    height: 410px;
    color: sfc($valwhte, black);
}

#mainbox{
    box-sizing: border-box;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    @extend %cardContent;
}

#valtLogo {
    width: 50px;
    position: relative;
    top: -5px;
}

