@import url(https://fonts.googleapis.com/css?family=Open+Sans);

@import url(https://fonts.googleapis.com/css?family=Open+Sans:300);

@import url(https://fonts.googleapis.com/css?family=Montserrat);

@import 'functions/functions.scss';

@import 'mixins/mixins.scss';

@import 'vars-modules/variables.scss';

@import 'loops/loops.scss';

/* CREDENTIALS
=============================================

----            ----
 ----          ----
  ----        ----
   ----      ----
    ----    ----
     ----  ----
      --------
       ------
        ----

#E05350 valtira red

#6E3772 valtira purple

#526EF2 valtira blue

#5DCF5B valtira green

#381E3A valtira link hovered

/* GLOBALS
============================================= */

header,
header h3 {
    color: sfc(orange, $valgreen);
}

section h3 {
    color: sfc(black, $gray-text);
}

section.homepageHeader h1,
section.homepageHeader p {
    color: sfc(yellow, $valwhte);
}

h2 {
    font-weight: 600;
}

pre {
    @extend %pre;
}

body {
    overflow-x: hidden;
}

small {
    font-size: 80%;
    position: relative;
    top: 45px;
    letter-spacing: 2px;
}

/* HEADER / NESTING / INVERT COLORS
============================================= */

.brand {
    position: absolute;
    left: 1em;
}

.brand:hover {
    background: rgba( 10, 10, 10, 0.3);
}

a.hamburger-trigger:before {
    content:'\2630';
    position: relative;
    font-family: FontAweseome;
}

.sideMenu li {
    cursor: pointer;
    list-style-type: none;
}

.sideMenu li a {
    color: $valwhte;
    font-size: 20px;
    position: relative;
    left: 0.35em;
}

nav.topNav {
    width: 100%;
    z-index: 9;
    padding: 1.5em;
    position: absolute;
        ul {
            width: 100%;
            float: right;
            text-align: center;
                li {
                    display: inline;
                    text-decoration: none;
                    list-style-type: none;
                    @extend %mainFont;
                    letter-spacing: 1px;
                        a {
                            padding: 1.5em;
                            display: inline;
                            color: $valwhte;
                            float: right;
                        }
                }
        }
}

nav.topNav ul li a:hover {
    background: rgba( 10, 10, 10, 0.3);
    text-underline: none;
    text-decoration: none;
    list-style-type: none;
    @include transition(0.4s);
}

.active { background: rgba( 10, 10, 10, 0.3); }

.brand .valtiraTxt {
    position: relative;
    left: 1em;
    letter-spacing: 2px;
    color: $valwhte;
    font-size: 17px;
    top: 0.7em;
    @extend %inset;
}

aside.sideMenu li a img {
    width: 3em;
    position: relative;
    top:-2.1em;
    left: -20px;
}

@media screen and (max-width: 700px) {
   nav.topNav ul {
        width: 500px;
    }
}

@media screen and (max-width: 789px) {
   nav.topNav ul {
        width: 400px;
    }
    nav.topNav ul li a:not(.brand) {
        display: none;
    }
    nav.topNav {
        height: 115px;
    }
}

/* CLASSES
============================================= */

.contactMap {
    @extend %contactMap;
}

.fullWidthImage {
    width: 100%;
    box-shadow: 5px 5px 25px gray;
}

.negativeLeftImage {
    margin: 0.5em 2.5em 1.1em 0;
    margin-left: -170px;
    box-shadow: 5px 5px 25px gray;
}

.negativeRightImage {
    margin: 0.8em 0 0 1.5em;
    margin-right: -170px;
    box-shadow: 5px 5px 15px gray;
}

.lmfao {
    background: transparent;
    width: 100%;
    display: table;
}

.lmfao > div {
    display: table-cell;
    width: 33.33333%;
    height: 50%;
    background: red;
    float: left;
    cursor: pointer;
    @include transition(0.2s);
}

.lmfao > div:hover {
    background:aqua;
}

.left-content-image {
    @extend %left-content-image;
    box-shadow: 5px 5px 25px gray;
}

.right-content-image {
    @extend %right-content-image;
    box-shadow: 5px 5px 25px gray;
}

.left-about-image {
    @extend %left-about-image;
    box-shadow: 5px 5px 25px gray;
}

.right-about-image {
    @extend %right-about-image;
    box-shadow: 5px 5px 25px gray;
}

.content-image-containers {
    @extend %content-image-containers;
}

.content-caption-wrapper {
    @extend %content-caption-wrapper;
}

.content-after-images {
    @extend %content-after-images;
}

.svgs-sliders {
    @extend %svgs-sliders;
}

.svg-slider-inner > img {
    width: 12em;
    @include transition(0.8s);
}

.svg-slider-inner {
    @extend %svg-slider-inner;
}

.svg-slider-inner > img {
    padding: 0;
    margin: 3em;
    margin-top: 5em;
}

#sqlicon {
    width: 5em;
}

#mysqlicon {
    width: 11em;
}


@include bp-large {

    .lmfao > div {
    display: table-cell;
    width: 50%;
    height: 50%;
    background: red;
    float: left;
    cursor: pointer;
    @include transition(0.2s);
    }


    %svg-slider-inner {
    width: 45em;
    }

    .svg-slider-inner img {
    width: 8em;
    padding: 0;
    margin: 2em;
    margin-top: 6em;
    }

    #sqlicon {
    width: 5em;
    }

    #mysqlicon {
    width: 7em;
    }

}

@include bp-mediumz-small {

    .lmfao > div {
    display: table-cell;
    width: 100%;
    height: 33.3333%;
    @include transition(0.2s);
    }

    .svg-slider-inner img {
    width: 9.5em;
    padding: 0;
    margin: 1em;
    margin-top: 2em;
    }

    %svg-slider-inner {
    width: 100%;
    }
}

.sideMenu {
    @extend %sideMenu;
}

#mainbox .card h2 {
    @extend %headerFont;
}

.valbeam {
    @extend %valbeam;
}

.homepageHeader {
    @extend %centeredInScreen;
}

.homepageHeader p {
    @extend %mainFont;
}

.homepageHeader h1 {
    margin: 0;
    letter-spacing: 0.1em;
    @extend %inset;
    font-size: 5em;
    @include transition(0.4s);
    @extend %headerFont;
}

.homepageHeader p {
    margin: 1em;
    font-size: 160%;
    letter-spacing: 3px;
}

.purp-btn {
    @extend %btn;
    @extend %purple-buttons;
    @extend %inset;
}

.green-btn {
    @extend %btn;
    @extend %green-buttons;
    @extend %inset;
}

.white-btn {
    @extend %btn;
    @extend %inset;
    @extend %white-buttons;
}

.green-btn {
    @extend %btn;
    @extend %green-buttons;
    @extend %inset;
}

.blue-btn {
    @extend %btn;
    @extend %blue-buttons;
    @extend %inset;
}

.red-btn {
    @extend %btn;
    @extend %red-buttons;
    @extend %inset;
}

.grn-underline {
    @extend %tiny-underline-grn;
    @extend %tiny-underline;
}

.red-underline {
    @extend %tiny-underline-red;
    @extend %tiny-underline;
}

.blu-underline {
    @extend %tiny-underline-blu;
    @extend %tiny-underline;
}

.prp-underline {
    @extend %tiny-underline-prp;
    @extend %tiny-underline;
}

.wht-underline {
    @extend %tiny-underline-wht;
    @extend %tiny-underline;
}

.content-blocks {
    @extend %content-blocks;
}

.alignLeft {
    @extend %alignLeft;
}

.pre2 {
    @extend %pre2;
}

.page-blocks {
    @extend %page-blocks;
}

.sm-content-blocks {
    padding-bottom: 0;
    padding-top: 0;
    height: 100px;
}

.header-blocks {
    @extend %header-blocks;
}

.inner-header-blocks h2,
.inner-header-blocks p {
    color: $valwhte;
    @extend %mainFont;
}

.inner-header-blocks p {
    margin-left: -1em;
}

.inner-header-blocks > div,
.inner-header-blocks h2,
.inner-header-blocks p {
  @extend %centeredInScreen25;
}

.header-blocks p {
    margin-top: 2em;
    font-size: 26px !important;
    letter-spacing: 3px;
    color: $valwhte;
    z-index: 999;
    opacity: 1;
}

.footer-blocks {
    @extend %footer-blocks;
}

.tiny-underline {
    @extend %tiny-underline;
}

.tiny-underline-left-purp {
    @extend %tiny-underline-left;
    @extend %tiny-underline-prp;
}

.tiny-underline-left-grn {
    @extend %tiny-underline-left;
    @extend %tiny-underline-grn;
}

.content-blocks > p,
.footer-blocks > p {
    @extend %mainFontSize;
    @extend %mainFont;
}

.tiny-underline {
    margin: 1em;
}

.footer-blocks > h3 {
    font-size: 35px;
    @extend %inset;
}

.content-blocks > h2, .footer-blocks > h2 {
    @extend %content-blocks-h2;
    @extend %inset;
    font-weight: 500;
}

.content-blocks > h2 {
    line-height: 1em;
}

.contentParagraphBlocks {
    @extend %contentParagraphBlocks;
}

.contentParagraphBlocks h2 {
    font-size: 2.5em;
    margin: 0;
    @extend %headerFont;
    letter-spacing: 1px;
    text-align: center;
    @extend %inset;
}

.header-blocks > h1 {
    @extend %page-Header;
    @extend %inset;
}

.lower-links {
    text-align: center;
    margin-left: -4em;
    position: relative;
    top: 20px;
    left: 1.5em;
}

.lower-links li {
    display: inline-block;
    cursor: pointer;
    padding: 1em;
}

.lower-links li a {
    letter-spacing: 1px;
    text-decoration: none;
    color: $valwhte;
    @extend %mainFont;
}

.lower-links li a:hover {
    color: $valblue;
    @include transition(0.4s)
}

@include bp-mediumz-small {

  .lower-links li {
  margin-left: 0.1em;
  padding: 1em;
  width: 20%;
  position: static;
  }
}

.footer-social {
    @extend %footer-social;
}

.footer-social li {
    display: inline-block;
}

.content-blocks > h2 {
    @extend %content-blocks-h2;
}

.header-blocks > h2 {
    @extend %header-blocks-h2;
}

.footer-links a:hover {
    text-decoration: none;
    color: $link-hovered;
    @include transition(0.2s);
}

.threejs-container {
    @extend %threejs-container;
}

.dynamic-containers {
    @extend %dynamic-containers;
}

.sm-dynamic-containers {
    @extend %sm-dynamic-containers;
}

.breakers {
    @extend %dynamic-containers;
}

.cloud-based {
    @include cover-background('../img/slitslider/slidestock1.png');
    clear: both;
    position: relative;
}
.cloud-based .content-blocks > p, .cloud-based h2 {
    color: sfc($valwhte, black);
}

.cloud-based h2 {
    font-size: 23px;
}

.cloud-based h3 {
    font-size: 19px;
}

.inner-header-blocks {
    @extend %inner-header-blocks;
}

.inner-header-blocks p {
    margin-top: 2.7em;
}

.footer-links li {
    @extend %footer-links;
}

.footer-links li a {
    color: $valwhte;
}

.home {
    height: 100vh !important;
    @include cover-background('../img/galaxy.jpg');
}

.services {
    height: 100vh;
    @include cover-background('../img/future.jpg');
}

.social-circles {
    @include circle(50px, #999);
    background: #fff;
    cursor: pointer;
    text-align: center;
}

.social-circles > i {
    position: relative;
    top: 0.4em;
}

@include bp-large {

    .social-circles {
    @include circle(40px, #999);
    @include transition(0.4s);
    background: #fff;
    cursor: pointer;
    text-align: center;
    }
    .social-circles > i {
    font-size: 1.5em;
    top:0.4em;
    }

}

.minimizedImg-left {
    @extend %minimizedImg-left;
}

.minimizedImg-right {
    @extend %minimizedImg-right;
}

.down-button {
    @extend %down-button;
}

.down-button:hover {
    @include transition(0.4s);
    background: $valgreen;
}

.glyphicon-chevron-down:before {
    content: "\e114";
    position: relative;
    top: 20px;
    left: 0;
    color: $valwhte;
}

.left {
    @extend %leftCard;
    @extend %left;
}

.right {
    @extend %rightCard;
    @extend %right;
}

.card-descr > p {
    @extend %contentFontStyles;
}

.card-descr > ul {
    @extend %cardContent;
    @include transition(0.3s);
}

.card-descr > h2 {
    margin-left: 1em;
}

.card-descr > div:nth-child(3) {
        margin-left: 1.8em;
}

.card-descr ul > li {
    list-style-type: none;
    padding: 15px 0 0 0;
}

.card-descr > h2 {
    @extend %cardHeader;
}

.minimizedImg-right,
.minimizedImg-left {
    box-shadow: 0 10px 6px 0 gainsboro;
}

.card {
    background: $valcard;
    width: 565px;
    min-height: 350px;
    padding: 10px;
    position: relative;
    margin: 10px;
    color: $gray-text;
    @include transition(0.2s);
}

.card a {
    text-decoration: none;
}

.card-img {
    background: $valwhte;
    width: 530px;
    box-shadow: 1px 1px 3px #888;
    min-height: 350px;
    padding: 10px;
    margin: 10px;
}

.gray-bg {
    @extend %gray-bg;
}

.jumbotron {
    height: 100vh;
    width: 100vw;
}

.jumboOverlay {
    @extend %jumboOverlay;
}

.homeHeader .jumboOverlay {
    @extend %jumboOverlay;
}

.singleServices .jumboOverlay {
    @extend %blueOverlay;
}

.aboutHeader .jumboOverlay {
    @extend %blueOverlay;
}

.contactHeader .jumboOverlay {
    @extend %blueOverlay;
}

.singleWork .jumboOverlay {
    @extend %blueOverlay;
}

.servicesHeader .jumboOverlay {
    @extend %greenOverlay;
}

.workHeader .jumboOverlay {
    @extend %greenOverlay;
}

.servicesHeader2 .jumboOverlay {
    @extend %blueOverlay;
}

.singleServices .jumboOverlay {
    @extend %singleServices;
}

.singleWork {
    @extend %singleWork;
}

.aboutHeader {
    @extend %aboutHeader;
}

.workHeader {
    @extend %workHeader;
}

.contactHeader {
    @extend %contactHeader;
}

.singleServices {
    @extend %singleServices;
}

.servicesHeader {
    @extend %servicesHeader;
}

.servicesHeader2 {
    @extend %servicesHeader2;
}

@include bp-large {

    .mobilize {
    width: 100%;
    margin: 0;
    margin: 1.5em 0;
    }

    .contentParagraphBlocks h2 {
    font-size: 30px;
    }
}

@include bp-mediumz {

    .mobilize {
    width: 100%;
    margin: 0.5em 0 2.5em 0;
    }

    .contentParagraphBlocks h2 {
    font-size: 25px;
    margin-top: 1em;
    }
    .inner-header-blocks p {
    margin-top: 4.2em;
    }
}

/* IDs
============================================= */


#triangle-left {
    position: absolute;
    border-top: 400px solid transparent;
    border-right: 47px solid $valcard;
    /* border-bottom: 0px solid transparent; */
    left: -47px;
    z-index: 3;
    top: 0;
}

#triangle-topleft {
    position: absolute;
    right: -45px;
    top: 0;
    width: 0;
    height: 0;
    border-top: 401px solid $valcard;
    border-right: 45px solid transparent;
    z-index: 2;
}

#footer {
    background: $valpurp;
    height: 410px;
    color: sfc($valwhte, black);
}

#mainbox {
    box-sizing: border-box;
    margin: 0 0 20px 0;
    padding: 0;
    @extend %cardContent;
}

#valtLogo {
    width: 50px;
    position: relative;
    left: 10px;
    top: 10px;
}

#mainbox .card-img1 {
    @include cover-background("../img/services/stock1.png");
}

#mainbox .card-img2 {
    @include cover-background("../img/services/stock2.png");
}

#mainbox .card-img3 {
    @include cover-background("../img/services/stock3.jpg");
}

/* QUERIES
============================================= */

@include bp-smlarge {
    #mainbox {
        width: 100%;
        margin: 0 auto;
    }
    .card {
        width: 47%;
    }
}

@media screen and (max-width: 1035px) {
    #mainbox {
        width: 100%;
        margin: 0 auto;
    }
    .card {
        width: 46.5%;
    }
}

@media screen and (max-width: 645px) {

    #triangle-left, #triangle-topleft {
    display: none;
    }

    .minimizedImg-left,
    .minimizedImg-right  {
      float: left;
      min-height: 350px;
      position: static;
    }
    .card {
        width: 100%;
        float: none;
        margin: auto;
        margin: 5px 0;
    }
      #mainbox {
        padding:0;
    }
    .gray-bg {
        padding: 15px;
    }
}

@media screen and (max-width: 640px) {
    .pinwheel_slider .pinwheel_text {
        font-size: 10px;
        margin: -6px 0 14px;
        z-index: 99;
    }
}