/*  VARIABLES
============================================= */

$valwhte:      #fff;

$valred :      #E05350;

$valpurp:      #422544;

$valblue:      #526EF2;

$valgreen:     #5DCF5B;

$gray-text:    #4A4A4A;

$transparent:  transparent;

$link-hovered: #381E3A;

/* CLEARFIX
============================================= */

%leftCard {
    width: 100%;
    background: orange;
    height: 400px;
}

%gray-bg {
    padding: 30px;
    background: #F1F4F9;
}

%rightCard {
    width: 100%;
    background: seagreen;
    height: 400px;
}

%noMargins { padding:0 !important }

%noPadding { margin:0 !important }

%down-button {
    border-radius: 50%;
    border: 2px solid #fff;
    height: 70px;
    width: 70px;
    position: absolute;
    top: 90%;
    cursor: pointer;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

%reset-H1 {
    font-size: 45px;
    letter-spacing: 2px;
}

%page-Header {
    font-size: 60px;
    letter-spacing: 2px;
}

%purple-buttons {
    color: $valpurp;
    border: 2px solid $valpurp !important;
}

%red-buttons {
    color: $valred;
    border: 2px solid $valred !important;
}

%green-buttons {
    color: $valgreen;
    border: 2px solid $valgreen !important;
}

%blue-buttons {
    color: $valblue;
    border: 2px solid $valblue !important;
}

%content-blocks {
    padding: 80px 0;
    background:$transparent;
}

%header-blocks {
    padding: 30em 0;
    background: transparent;
    margin: auto;
    text-align: center;
}

%footer-blocks {
    padding: 50px 0;
    background:$transparent;
}

%content-blocks-h3 {
    font-size: 25px;
    font-weight: 100;
    letter-spacing: 3px;
    line-height:35px;
}

%header-blocks-h3 {
    font-size: 45px;
    font-weight: 100;
    letter-spacing: 3px;
    line-height:75px;
}

@include bp-medium {

    %header-blocks-h3, %content-blocks-h3 {
    font-size: 17px;
    line-height: 33px;
    font-weight: 200;
    @include transition(0.2s);
    }

    %page-Header {
    font-size: 50px;
    margin-top: 120px;
    @include transition(0.8s);
    }

    %reset-H1  {
    font-size: 25px;
    @include transition(0.8s);
    }
}

%footer-social {
    margin-top: 0;
    height: 0px;
    padding: 0;
}

%footer-links {
    display: inline;
    list-style-type: none;
    padding: 8px;
    margin:0 auto;
    letter-spacing: 2px;
    font-size: 18px;
    font-weight: 100;
    color: $valwhte;
}

%inset {
    text-transform: uppercase;
}

%tiny-underline {
    width: 75px;
    height: 2px;
    margin: 0 auto;
    margin-top:20px;
}

%tiny-underline-wht { background:$valwhte;  }

%tiny-underline-grn { background:$valgreen; }

%tiny-underline-blu { background:$valblue;  }

%tiny-underline-red { background:$valred;   }

%tiny-underline-prp { background:$valpurp;  }

%btn {
    padding-top:12px !important;
    curser: pointer;
    font-size: 14px;
    width: 200px;
    height: 50px;
    margin: 5px 0;
    text-align: center;
    display: block;
    -webkit-box-shadow: 2px 9px 5px -6px rgba(0,0,0,0.58);
    -moz-box-shadow: 2px 9px 5px -6px rgba(0,0,0,0.58);
    box-shadow: 2px 9px 5px -6px rgba(0,0,0,0.58);
}

%dynamic-containers {
    width: 100%;
    height: 450px;
    position: relative;
    background:$valred;
}

%threejs-container {
    width: 100%;
    height: 560px;
    position: relative;
    background:$valgreen;
}

/* SCROLL UP BTN
============================================= */

#cd-nav ul {
  /* mobile first */
  position: fixed;
  width: 90%;
  max-width: 400px;
  right: 5%;
  bottom: 20px;
  visibility: hidden;
  overflow: hidden;
  z-index: 1;

  transform: scale(0);
  transform-origin: 100% 100%;
  transition: transform 0.3s, visibility 0s 0.3s;
}

#cd-nav ul.is-visible {
  visibility: visible;
  transform: scale(1);
  transition: transform 0.3s, visibility 0s 0s;
}

.cd-nav-trigger {
  position: fixed;
  bottom: 20px;
  right: 5%;
  width: 44px;
  height: 44px;

  /* image replacement */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  z-index: 2;
}


/* BURGER ANIMATION
============================================= */

.c-hamburger {
    position: fixed;
    overflow: hidden;
    margin: 0;
    z-index: 9;
    padding: 0;
    right: 0;
    top:0;
    width: 60px;
    height: 56px;
    font-size: 0;
    appearance: none;
    box-shadow: none;
    border-radius: none;
    border: none;
    cursor: pointer;
    transition: background 0.3s;
}

.c-hamburger:focus {
    outline: none;
}

.c-hamburger span {
    display: block;
    position: absolute;
    top: 24px;
    left: 18px;
    right: 18px;
    height: 2px;
    background: white;
}

.c-hamburger span::before,
.c-hamburger span::after {
    position: absolute;
    display: block;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #fff;
    content: "";
}

.c-hamburger span::before {
    top: -10px;
}

.c-hamburger span::after {
    bottom: -10px;
}

.c-hamburger--htx {
  background-color: $valpurp;
}

.c-hamburger--htx span {
  transition: background 0s 0.3s;
}

.c-hamburger--htx span::before,
.c-hamburger--htx span::after {
  transition-duration: 0.3s, 0.3s;
  transition-delay: 0.3s, 0s;
}

.c-hamburger--htx span::before {
  transition-property: top, transform;
}

.c-hamburger--htx span::after {
  transition-property: bottom, transform;
}

/* active state, i.e. menu open */
.c-hamburger--htx.is-active {
  background-color: $valgreen;
}

.c-hamburger--htx.is-active span {
  background: none;
}

.c-hamburger--htx.is-active span::before {
  top: 0;
  transform: rotate(45deg);
}

.c-hamburger--htx.is-active span::after {
  bottom: 0;
  transform: rotate(-45deg);
}

.c-hamburger--htx.is-active span::before,
.c-hamburger--htx.is-active span::after {
  transition-delay: 0s, 0.3s;
}