@import 'mixins/mixins.scss';

@import 'functions/functions.scss';

/*  VARIABLES
============================================= */

$valwhte:      #fff;

$valred :      #E05350;

$valpurp:      #422544;

$valblue:      #526EF2;

$valgreen:     #5DCF5B;

$valcard:      #FCFCFC;

$gray-text:    #4A4A4A;

$transparent:  transparent;

$link-hovered: #381E3A;

/* CLEARFIX
============================================= */

%valbeam {
  width: 100%;
  height: 2px;
  position: relative;
}

%centeredInScreen {
  position: relative;
  top: 50%;
  text-align: center;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

%servicesHeader {
  @include cover-background('../img/services/service-stock1.jpg');
}

%jumboOverlay {
  background: rgba(54, 54, 54, 0.6);
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  z-index: 3;
}

%serviceOverlay {
  background: rgba(25, 25, 25, 0.6);
  height: 500px;
  width: 100vw;
  position: relative;
  top: 0;
  z-index: 3;
}

%pre {
  display: block;
  @extend %mainFont;
  padding: 9.5px;
  margin: 0 0 10px 20px;
  color: purple;
  letter-spacing: 1px;
  font-size: 13px !important;
  position: relative;
  text-decoration: none;
  top: 15px;
  font-family: Sans-serif !important;
}

%left {
  float: left;
}

%right {
  float: right;
}

%inner-header-blocks {
  position: relative;
  top: 60px;
}

%cardContent {
  @extend %mainFont;
  @extend %mainFontSize;
  @extend %alignLeft;
  padding: 20px;
  letter-spacing: 1px;
  line-height: 30px;
}

%alignLeft {
  text-align: left;
}

%mainFont {
  font-family: 'Open Sans', sans-serif;
  font-weight: 100;
}

%headerFont {
  font-family: 'Montserrat';
  font-weight: 400;
}

%mainFontSize {
  font-size: 22px;
}

%cardHeader {
  @extend %mainFont;
  padding: 0 0 0 20px;
  font-size: 29px;
  font-weight: 600;
}

%leftCard {
  width: 300px;
  background: orange;
  height: 400px;
}

%gray-bg {
  padding: 30px;
  background: #fff;
}

%rightCard {
  width: 300px;
  background: seagreen;
  height: 400px;
}

%down-button {
  border-radius: 50%;
  border: 2px solid #fff;
  height: 70px;
  width: 70px;
  position: absolute;
  top: 90%;
  cursor: pointer;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

%reset-H1 {
  @extend %mainFont;
  font-size: 45px;
  letter-spacing: 2px;
}

%minimizedImg-left {
  height: 300px !important;
  position: relative;
  top: 20px;
  left: 16px;
}

%minimizedImg-right {
  height: 300px !important;
  position: relative;
  top: 20px;
  right: 16px;
}

%page-Header {
  font-size: 8em !important;
  font-weight: 600;
  // over-ride bootstrap styles
  letter-spacing: 2px;
}

%purple-buttons {
  color: $valpurp;
  border: 2px solid $valpurp !important;
  // over-ride bootstrap styles
}

%white-buttons {
  color: $valwhte;
  border: 2px solid $valwhte !important;
  // over-ride bootstrap styles
}

%red-buttons {
  color: $valred;
  border: 2px solid $valred !important;
  // over-ride bootstrap styles
}

%green-buttons {
  color: $valgreen;
  border: 2px solid $valgreen !important;
  // over-ride bootstrap styles
}

%blue-buttons {
  color: $valblue;
  border: 2px solid $valblue !important;
  // over-ride bootstrap styles
}

%content-blocks {
  padding: 78px 0;
  width: 100%;
  margin:0 auto !important;
  text-align: center;
  height: 450px;
  background: $transparent;
}

%header-blocks {
  @extend %mainFont;
  background: transparent;
  margin: auto;
  text-align: center;
}

%footer-blocks {
  padding: 30px 0;
  background: $transparent;
}

%footer-blocks-h3 {
  font-family: Montserrat;
  font-size: 25px;
  font-weight: 100;
  letter-spacing: 3px;
  line-height:35px;
}

%content-blocks-h2 {
  font-family: Montserrat;
  font-size: 35px;
  font-weight: 100;
  letter-spacing: 3px;
  line-height:35px;
}

%header-blocks-h2 {
  font-size: 45px;
  font-weight: 100;
  letter-spacing: 3px;
  line-height:75px;
}

@include bp-mediumz {

    .homepageHeader h1 {
      line-height: 65px;
      font-size: 35px;
    }

    %content-blocks {
    padding: 10px 0;
    }

    %tiny-underline-left {
    margin: 0 auto !important;
    }

    %cardHeader {
    padding: 2em;
    padding-bottom: 10px;
    }

    %cardContent {
    letter-spacing: 2px;
    line-height: 26px;
    font-weight: 200;
    text-align: center;
    }

    %mainFontSize {
    font-size: 16px;
    }

    .content-blocks > p,
    .footer-blocks > p {
    padding: 10px;
    letter-spacing: 1px;
    line-height: 30px;
    font-family: Open Sans;
    font-size: 17px;
    text-align: center;
    }

    %header-blocks-h2, %content-blocks-h2 {
    font-size: 25px;
    letter-spacing: 2px;
    line-height: 30px;
    font-weight: 200;
    @include transition(0.2s);
    }

    %page-Header {
    font-size: 50px !important;
    margin-top: 120px;
    @include transition(0.8s);
    }

    %reset-H1  {
    line-height: 35px;
    font-size: 25px;
    @include transition(0.8s);
    }
}

%footer-social {
  margin-top: 0;
  padding: 0;
}

%footer-links {
  list-style-type: none;
}

%inset {
  text-transform: uppercase;
}

%tiny-underline {
  width: 75px;
  height: 2px;
  margin: 0 auto;
  margin-top:20px;
}

%tiny-underline-left {
  width: 75px;
  height: 2px;
  /* text-align: left; */
  margin: 0; // resets margin
  margin: 20px 0 0 20px;
}

%tiny-underline-wht { background:$valwhte;  }

%tiny-underline-grn { background:$valgreen; }

%tiny-underline-blu { background:$valblue;  }

%tiny-underline-red { background:$valred;   }

%tiny-underline-prp { background:$valpurp;  }

%btn {
    padding-top:12px !important;
    curser: pointer;
    font-size: 14px;
    width: 200px;
    height: 50px;
    margin: 5px 0;
    text-align: center;
    display: block;
    -webkit-box-shadow: 2px 9px 5px -6px rgba(0,0,0,0.58);
    -moz-box-shadow: 2px 9px 5px -6px rgba(0,0,0,0.58);
    box-shadow: 2px 9px 5px -6px rgba(0,0,0,0.58);
}

%dynamic-containers {
    width: 100%;
    height: 450px;
    position: relative;
    background:$transparent;
}

%threejs-container {
    width: 100%;
    height: 560px;
    position: relative;
    background:$valgreen;
}

/* BURGER ANIMATION
============================================= */

.c-hamburger {
  position: fixed;
  overflow: hidden;
  margin: 0;
  z-index: 9;
  padding: 0;
  right: 50px;
  top:0;
  width: 60px;
  height: 56px;
  font-size: 0;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  border: none;
  cursor: pointer;
  transition: background 0.3s;
}

@media screen and (max-width: 650px) {
  .c-hamburger {
    right: 0;
  }
}

.c-hamburger:focus {
  outline: none;
}

.c-hamburger span {
  display: block;
  position: absolute;
  top: 24px;
  left: 18px;
  right: 18px;
  height: 2px;
  background: white;
}

.c-hamburger span::before,
.c-hamburger span::after {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #fff;
  content: "";
}

.c-hamburger span::before {
  top: -10px;
}

.c-hamburger span::after {
  bottom: -10px;
}

.c-hamburger--htx {
    z-index: 9999999;
  background-color: transparent;
}

.c-hamburger--htx span {
  transition: background 0s 0.3s;
}

.c-hamburger--htx span::before,
.c-hamburger--htx span::after {
  transition-duration: 0.3s, 0.3s;
  transition-delay: 0.3s, 0s;
}

.c-hamburger--htx span::before {
  transition-property: top, transform;
}

.c-hamburger--htx span::after {
  transition-property: bottom, transform;
}

/* active state, i.e. menu open */
.c-hamburger--htx.is-active {
  background-color: #6E3772;
  opacity: 0.95;
}

.c-hamburger--htx.is-active span {
  background: none;
}

.c-hamburger--htx.is-active span::before {
  top: 0;
  transform: rotate(45deg);
}

.c-hamburger--htx.is-active span::after {
  bottom: 0;
  transform: rotate(-45deg);
}

.c-hamburger--htx.is-active span::before,
.c-hamburger--htx.is-active span::after {
  transition-delay: 0s, 0.3s;
}


/* ============================================================
  SECTIONS parallax
============================================================ */

div.breakers.cloud-based {
  background-position: 100% 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

/* ============================================================
  VIDEO
============================================================ */
