/* MIXINS
============================================= */
/* line 59, ../../sass/mixins/mixins.scss */
html, body {
  height: 100%;
}

/* line 62, ../../sass/mixins/mixins.scss */
#wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
}
/* line 66, ../../sass/mixins/mixins.scss */
#wrapper #container {
  padding: 0 0 30px 0;
}

/* line 70, ../../sass/mixins/mixins.scss */
#footer {
  height: 30px;
}

/*  VARIABLES
============================================= */
/* CLEARFIX
============================================= */
/* SCROLL UP BTN
============================================= */
/* line 282, ../../sass/vars-modules/variables.scss */
#cd-nav ul {
  /* mobile first */
  position: fixed;
  width: 90%;
  max-width: 400px;
  right: 5%;
  bottom: 20px;
  visibility: hidden;
  overflow: hidden;
  z-index: 1;
  transform: scale(0);
  transform-origin: 100% 100%;
  transition: transform 0.3s, visibility 0s 0.3s;
}

/* line 298, ../../sass/vars-modules/variables.scss */
#cd-nav ul.is-visible {
  visibility: visible;
  transform: scale(1);
  transition: transform 0.3s, visibility 0s 0s;
}

/* line 304, ../../sass/vars-modules/variables.scss */
.cd-nav-trigger {
  position: fixed;
  bottom: 20px;
  right: 5%;
  width: 44px;
  height: 44px;
  /* image replacement */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  z-index: 2;
}

/* BURGER ANIMATION
============================================= */
/* line 322, ../../sass/vars-modules/variables.scss */
.c-hamburger {
  position: fixed;
  overflow: hidden;
  margin: 0;
  z-index: 9;
  padding: 0;
  right: 0;
  top: 0;
  width: 60px;
  height: 56px;
  font-size: 0;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  border: none;
  cursor: pointer;
  transition: background 0.3s;
}

/* line 341, ../../sass/vars-modules/variables.scss */
.c-hamburger:focus {
  outline: none;
}

/* line 345, ../../sass/vars-modules/variables.scss */
.c-hamburger span {
  display: block;
  position: absolute;
  top: 24px;
  left: 18px;
  right: 18px;
  height: 2px;
  background: white;
}

/* line 356, ../../sass/vars-modules/variables.scss */
.c-hamburger span::before,
.c-hamburger span::after {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #fff;
  content: "";
}

/* line 366, ../../sass/vars-modules/variables.scss */
.c-hamburger span::before {
  top: -10px;
}

/* line 370, ../../sass/vars-modules/variables.scss */
.c-hamburger span::after {
  bottom: -10px;
}

/* line 374, ../../sass/vars-modules/variables.scss */
.c-hamburger--htx {
  background-color: #422544;
}

/* line 378, ../../sass/vars-modules/variables.scss */
.c-hamburger--htx span {
  transition: background 0s 0.3s;
}

/* line 383, ../../sass/vars-modules/variables.scss */
.c-hamburger--htx span::before,
.c-hamburger--htx span::after {
  transition-duration: 0.3s, 0.3s;
  transition-delay: 0.3s, 0s;
}

/* line 388, ../../sass/vars-modules/variables.scss */
.c-hamburger--htx span::before {
  transition-property: top, transform;
}

/* line 392, ../../sass/vars-modules/variables.scss */
.c-hamburger--htx span::after {
  transition-property: bottom, transform;
}

/* active state, i.e. menu open */
/* line 397, ../../sass/vars-modules/variables.scss */
.c-hamburger--htx.is-active {
  background-color: #5dcf5b;
}

/* line 401, ../../sass/vars-modules/variables.scss */
.c-hamburger--htx.is-active span {
  background: none;
}

/* line 405, ../../sass/vars-modules/variables.scss */
.c-hamburger--htx.is-active span::before {
  top: 0;
  transform: rotate(45deg);
}

/* line 410, ../../sass/vars-modules/variables.scss */
.c-hamburger--htx.is-active span::after {
  bottom: 0;
  transform: rotate(-45deg);
}

/* line 416, ../../sass/vars-modules/variables.scss */
.c-hamburger--htx.is-active span::before,
.c-hamburger--htx.is-active span::after {
  transition-delay: 0s, 0.3s;
}

/* ============================================================
  SECTIONS parallax
============================================================ */
/* line 425, ../../sass/vars-modules/variables.scss */
div.breakers.cloud-based {
  background-position: 100% 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

/* ============================================================
  SHOW hidden BTN
============================================================ */
/* line 436, ../../sass/vars-modules/variables.scss */
#cd-nav ul {
  /* mobile first */
  position: fixed;
  width: 90%;
  max-width: 400px;
  right: 5%;
  bottom: 20px;
  visibility: hidden;
  overflow: hidden;
  z-index: 1;
  transform: scale(0);
  transform-origin: 100% 100%;
  transition: transform 0.3s, visibility 0s 0.3s;
}

/* line 452, ../../sass/vars-modules/variables.scss */
#cd-nav ul.is-visible {
  visibility: visible;
  transform: scale(1);
  transition: transform 0.3s, visibility 0s 0s;
}

/* line 458, ../../sass/vars-modules/variables.scss */
.cd-nav-trigger {
  position: fixed;
  bottom: 20px;
  right: 5%;
  width: 44px;
  height: 44px;
  /* image replacement */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  z-index: 2;
}

@media only screen and (min-width: 1170px) {
  /* line 473, ../../sass/vars-modules/variables.scss */
  #cd-nav ul {
    /* the navigation moves to the top */
    position: absolute;
    width: auto;
    max-width: none;
    bottom: auto;
    top: 36px;
    visibility: visible;
    transform: scale(1);
    transition: all 0s;
  }

  /* line 485, ../../sass/vars-modules/variables.scss */
  #cd-nav.is-fixed ul {
    position: fixed;
    width: 90%;
    max-width: 400px;
    bottom: 20px;
    top: auto;
    visibility: hidden;
    transform: scale(0);
  }
}
