 /* MIXINS
============================================= */
/* line 59, ../../sass/mixins/mixins.scss */
html, body {
  height: 100%;
}

/* line 62, ../../sass/mixins/mixins.scss */
#wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
}
/* line 66, ../../sass/mixins/mixins.scss */
#wrapper #container {
  padding: 0 0 30px 0;
}

/* line 70, ../../sass/mixins/mixins.scss */
#footer {
  height: 30px;
}

/* FUNCTIONS
============================================= */
/*  VARIABLES
============================================= */
/* CLEARFIX
============================================= */
/*
%pageContentWrapper {
  padding: 5em 0;
  width: 73%;
  margin:0 auto !important;
  text-align: center;
  background: $transparent;
}
*/
@media only screen and (max-width: 63em) {
  /* line 490, ../../sass/vars-modules/variables.scss */
  .homepageHeader > h1 {
    font-size: 3em !important;
  }

  /* line 494, ../../sass/vars-modules/variables.scss */
  .card-descr > ul {
    position: relative;
    top: 0.6em;
    left: 10px;
    font-size: 0.8em;
    line-height: 1em;
  }

  /* line 508, ../../sass/vars-modules/variables.scss */
  .content-blocks > p,
  .footer-blocks > p {
    padding: 10px;
    letter-spacing: 1px;
    line-height: 40px;
    font-size: 21px;
    text-align: center;
  }
}
@media only screen and (max-width: 40em) {
  /* line 537, ../../sass/vars-modules/variables.scss */
  .mobilize {
    width: 100%;
  }

  /* line 545, ../../sass/vars-modules/variables.scss */
  #mainbox .card h2, .homepageHeader h1 {
    text-align: center;
  }

  /* line 549, ../../sass/vars-modules/variables.scss */
  .card-descr ul > li {
    text-align: center;
  }

  /* line 569, ../../sass/vars-modules/variables.scss */
  div.breakers.cloud-based {
    z-index: 0;
    background-position: 100% 50%;
    background-repeat: no-repeat;
    background-size: 1000%;
  }

  /* line 576, ../../sass/vars-modules/variables.scss */
  .brand {
    background-color: rgba(10, 10, 10, 0.3);
  }

  /* line 588, ../../sass/vars-modules/variables.scss */
  .card-descr > ul {
    position: static;
    top: 0;
    padding: 0;
  }

  /* line 594, ../../sass/vars-modules/variables.scss */
  .card-descr > h2 {
    margin-left: 0 !important;
  }

  /* line 598, ../../sass/vars-modules/variables.scss */
  .lower-links {
    text-align: left;
    position: relative;
    top: 20px;
  }

  /* line 604, ../../sass/vars-modules/variables.scss */
  .homepageHeader h1 {
    line-height: 65px;
    font-size: 35px;
  }

  /* line 635, ../../sass/vars-modules/variables.scss */
  .content-blocks > p,
  .footer-blocks > p {
    padding: 10px;
    letter-spacing: 1px;
    line-height: 30px;
    font-size: 17px;
  }
}
/* line 737, ../../sass/vars-modules/variables.scss */
.c-hamburger:before {
  content: '\2630';
  font-size: 2em;
}

/* line 9, ../../sass/loops/loops.scss */
.social-facebook {
  background-image: url("/img/facebook.svg");
}

/* line 9, ../../sass/loops/loops.scss */
.social-googleplus {
  background-image: url("/img/googleplus.svg");
}

/* line 9, ../../sass/loops/loops.scss */
.social-twitter {
  background-image: url("/img/twitter.svg");
}

/* line 9, ../../sass/loops/loops.scss */
.social-linkedin {
  background-image: url("/img/linkedin.svg");
}
